.s-l-f {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  // border: 1px solid red;

  .s-l-f-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 70px;
    position: relative;
    left: 0;

    // border: 1px solid red;
  }

  .s-l-f-card {
    position: relative;
    width: 100%;
    height: 550px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    padding: 15px;
    // background: linear-gradient(45deg, #ffebbd, #ffd374f4, #faa7ec);

    // border: 1px solid green;

    .s-l-f-card-inside {
      width: 100%;
      height: 100%;
      overflow: auto;
      display: flex;
      flex-wrap: wrap;

      .s-l-f-data {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        padding: 20px 0;
        // box-shadow: (0 6px 4px #ffebbd76);
        background-color: #ffffff;

        // border: 1px solid green;

        .s-l-f-line {
          width: 100%;
          position: absolute;
          /* top: 60; */

          border-bottom: 1px solid black;
        }

        .s-l-f-items {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          /* border: 1px solid pink; */

          .s-l-f-question {
            margin-bottom: 20px;
            font-size: 15px;
            font-weight: 700;

            /* border: 1px solid black; */
          }

          .s-l-f-answer {
            font-size: 13px;
            /* border: 1px solid blue; */
          }

          .s-mboNote1 {
            display: block;
            cursor: pointer;
            text-decoration: underline;
          }

          .s-mboNote1.s-l-f-active {
            display: none;
          }

          .s-mboNote2 {
            display: none;
          }

          .s-mboNote2.s-l-f-active {
            display: block;
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }

      .s-l-f-data-error {
        font-size: 24px;
      }
      .p-love-card-container{
        width: 23%;
        margin: 5px;
        // border: 1px solid #000;
        .p-love-card-title{
          height: 30px;
          background-color: #113f75;
          border-radius: 10px 10px 0 0 ;
          display: flex;
          flex-direction: column;
          justify-content: center;
          i{
            color: #f00;
            text-align: center;
            font-size: 20px;
          }
        }
        .p-love-card-cover-middle{
          padding: 5px;
          display: flex;
          justify-content: center;
          border: 1px solid #000;
          .p-love-card-cover-wrap{
            width: 180px;
            height: 100px;
            overflow: hidden;
            .p-love-card-cover{
              width: 100%;
              // object-fit: cover;
              // object-position: 50% 80%;
            }
          }
        }
        .p-love-card-footer{
          height: 50px;
          background-color: #113f75;
          border-radius: 0 0 10px 10px;
          padding: 0 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          
          .p-love-card-name{
            font-size: 16px;
            color: #fff;
            text-align: center;
          }
          .p-love-card-info{
            font-size: 14px;
            color: #fff;
            text-align: center;
          }
        }
      }

    }
  }

  @media (max-width: 991px) {
    .s-l-f-card {
      height: 700px;

      .s-l-f-card-inside {
        .s-l-f-data {
          width: 500px;
        }
      }
    }
  }

  .s-l-f-card::-webkit-scrollbar-track {
  }

  .s-l-f-card::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .s-l-f-card::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b1b1b1;
  }
}
