.s-l-s {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .s-l-s-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 70px;
    position: relative;
    left: 0;

  }

  .s-l-s-card {
    position: relative;
    width: 100%;
    height: 550px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    padding: 15px;

    .s-l-s-card-inside {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      overflow-y: scroll;

      .s-l-s-data-error {
        font-size: 24px;
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        padding: 20px 0;
        background-color: #ffffff;
      }

      @media (max-width: 991px) {
        .s-l-p-data-error {
          font-size: 20px;
        }
      }

      .r-love-card-container {
        width: 23%;
        height: 200px;
        margin: 5px;
        .r-love-card-title {
          height: 30px;
          background-color: #113f75;
          border-radius: 10px 10px 0 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          i {
            color: #f00;
            text-align: center;
            font-size: 20px;
          }
        }
        .r-love-card-cover-middle {
          padding: 5px;
          display: flex;
          justify-content: center;
          border: 1px solid #000;
          .r-love-card-cover-wrap {
            width: 180px;
            height: 100px;
            .r-love-card-cover {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center center;
            }
          }
        }
        .r-love-card-footer {
          height: 50px;
          background-color: #113f75;
          border-radius: 0 0 10px 10px;
          padding: 0 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .r-love-card-name {
            font-size: 14px;
            color: #fff;
            text-align: center;
          }
          .r-love-card-info {
            font-size: 12px;
            color: #fff;
            text-align: center;
          }
        }
      }
      @media (max-width: 390px) {
        .r-love-card-container{
          width: 45%;
        }
      }
    }
    @media (max-width: 991px) {
      .s-l-s-card {
        height: 700px;

        .s-l-s-card-inside {
          .s-l-s-data {
            width: 500px;
          }
        }
      }
    }

    .s-l-s-card-inside::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    .s-l-s-card-inside::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #b1b1b1;
    }
  }

  @media (max-width: 991px) {
    .s-l-p-card {
      height: 700px;

      .s-l-p-card-inside {
        .r-love-card-container {
          width: 45%;
        }
      }
    }
  }
}


