$main-yellow: #fad249;
$main-Blue: #113f75;
$main-title: #2b325c;
$main-text: #5e5e5e;
$text-shadow: #e4e4e4;
$cate-btn: #fce38c;
$main-orange: #ff8200;
$card-btn: #80b938;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.r-container {
  .r-main-visual {
    display: flex;
    justify-content: space-between;

    .r-btn-wrap {
      .r-search-btn {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 30px 20px 60px;
        .r-search-btn-button {
          position: relative;
          width: 250px;
          height: 50px;
          background: $main-orange;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #333;
          letter-spacing: 0.2rem;
          font-weight: 700;
          border: 3px solid #333;
          border-radius: 8px;
          overflow: hidden;
          .r-search-btn-button-span {
            font-size: 24px;
            display: inline-block;
            z-index: 2;
            transition: 0.5s ease-in-out;
          }
          i {
            font-size: 30px;
            padding-right: 10px;
            display: inline-block;
            z-index: 2;
            animation: animateB 1s linear infinite;
  
            @keyframes animateB {
              0% {
                opacity: 0;
              }
              25% {
                opacity: 1;
              }
              50% {
                opacity: 1;
              }
              75% {
                opacity: 1;
              }
              100% {
                opacity: 0;
              }
            }
          }
        }
        button::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: $card-btn;
          transform: scaleX(0);
          transition: transform 0.5s ease-in-out;
          transform-origin: right;
        }
        button:hover::before {
          transform: scaleX(1);
          transform-origin: left;
        }
        button:hover {
          span {
            color: #fff;
          }
          i {
            color: #fff;
          }
        }
      }
    }

    .r-wave {
      width: 15%;
      background: url('./../../../public/03-shop-img/shop-wave-1920px.png') 0 0;
      left: 0;
      top: 0;
      size: 100% 100%;
      animation: animateWave 10s linear infinite;
      z-index: 100;
      animation-delay: 0.3s;

      @keyframes animateWave {
        0% {
          background-position-y: 0px;
        }

        100% {
          background-position-y: 1920px;
        }
      }
    }

    .r-shop-list {
      width: 60%;
      padding: 80px 60px 0 0;


      .r-shop-map {
        height: 500px;
        border: 1px solid #000;
        margin-top: 50px;
        overflow: hidden;
      }


    }
  }
}