$main-yellow: #fad249;
$main-Blue: #113f75;
$main-title: #2b325c;
$main-text: #5e5e5e;
$text-shadow: #e4e4e4;
$cate-btn: #fce38c;
$main-orange: #ff8200;
$card-btn: #80b938;

.r-side-bar {
  width: 25%;
  background: $main-yellow;
  padding-top: 80px;

  .r-search-wrap {
    padding: 50px 30px 30px 60px;

    .r-search-article {
      display: flex;
      justify-content: center;
      align-items: center;
      // text-align: center;
      border-bottom: 8px dashed #fff;
      padding-bottom: 25px;

      .r-shop-icon {
        width: 80px;
        img {
          width: 100%;
        }
      }
      .r-shop-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        letter-spacing: 0.2rem;
        span {
          color: #fff;
          font-size: 24px;
          font-weight: 700;
          padding-bottom: 10px;
        }
        p {
          color: #fff;
          font-size: 36px;
          font-weight: 700;
        }
      }
    }

    .r-place-wrap {
      text-align: center;
      padding-top: 30px;

      .r-place-article {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        .r-shop-icon-p {
          width: 60px;
          img {
            width: 100%;
          }
        }
        .r-place-title {
          padding-bottom: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          letter-spacing: 0.2rem;
          span {
            color: $main-title;
            font-size: 18px;
            font-weight: 700;
            padding-bottom: 10px;
          }
          p {
            color: $main-title;
            font-size: 28px;
            font-weight: 700;
          }
        }
      }

      .r-place-select {
        display: flex;
        flex-direction: column;
        // align-items: center;
        select {
          font-size: 18px;
          text-align: center;
          color: $main-text;
          width: 180px;
          height: 50px;
          border: none;
          border-radius: 8px;
          margin: 0;
          margin-bottom: 20px;
          outline-style: none;
        }
      }
    }

    .r-cate-wrap {
      text-align: center;
      padding-top: 20px;
      .r-cate-article {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        .r-shop-icon-c {
          width: 60px;
          img {
            width: 100%;
          }
        }
        .r-cate-title {
          padding-bottom: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          letter-spacing: 0.2rem;
          span {
            color: $main-title;
            font-size: 18px;
            font-weight: 700;
            padding-bottom: 10px;
          }
          p {
            color: $main-title;
            font-size: 28px;
            font-weight: 700;
          }
        }
      }
      .r-cate-select {
        select {
          font-size: 18px;
          text-align: center;
          color: $main-text;
          width: 180px;
          height: 50px;
          border: none;
          border-radius: 8px;
          margin: 0;
          margin-bottom: 20px;
          outline-style: none;
        }
      }
    }

    .r-filter-wrap {
      text-align: center;
      padding-top: 20px;
      .r-filter-article {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        .r-shop-icon-f {
          width: 60px;
          img {
            width: 100%;
          }
        }
        .r-filter-title {
          padding-bottom: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          letter-spacing: 0.2rem;
          span {
            color: $main-title;
            font-size: 18px;
            font-weight: 700;
            padding-bottom: 10px;
          }
          p {
            color: $main-title;
            font-size: 28px;
            font-weight: 700;
          }
        }
      }
      .r-filter-select {
        padding-bottom: 30px;
        select {
          font-size: 18px;
          text-align: center;
          color: $main-text;
          width: 180px;
          height: 50px;
          border: none;
          border-radius: 8px;
          margin: 0;
          margin-bottom: 20px;
          outline-style: none;
        }
      }
    }
  }
  .r-btn-wrap {
    .r-search-btn {
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 30px 20px 60px;
      button {
        position: relative;
        width: 250px;
        height: 50px;
        background: $main-orange;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333;
        letter-spacing: 0.2rem;
        font-weight: 700;
        border: 3px solid #333;
        border-radius: 8px;
        overflow: hidden;
        span {
          font-size: 24px;
          display: inline-block;
          z-index: 2;
          transition: 0.5s ease-in-out;
        }
        i {
          font-size: 30px;
          padding-right: 10px;
          display: inline-block;
          z-index: 2;
          animation: animateB 1s linear infinite;

          @keyframes animateB {
            0% {
              opacity: 0;
            }
            25% {
              opacity: 1;
            }
            50% {
              opacity: 1;
            }
            75% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
        }
      }
      button::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $card-btn;
        transform: scaleX(0);
        transition: transform 0.5s ease-in-out;
        transform-origin: right;
      }
      button:hover::before {
        transform: scaleX(1);
        transform-origin: left;
      }
      button:hover {
        span {
          color: #fff;
        }
        i {
          color: #fff;
        }
      }
    }
  }
}
