$main-yellow: #fad249;
$main-Blue: #113f75;
$main-title: #2b325c;
$main-text: #5e5e5e;
$text-shadow: #e4e4e4;
$cate-btn: #fce38c;
$main-orange: #ff8200;
$card-btn: #80b938;


.r-card-wrap {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  .r-col {
    width: 33.333333%;
    padding: 20px;
    .r-card-container {
      border: 3px solid #333;
      display: flex;
      flex-direction: column;
      transition: 1s;
      .r-card-img-wrap {
        display: flex;
        height: 10%;
        padding: 3px;
        border-bottom: 3px solid #333;
        aspect-ratio: 16/9;
        overflow: hidden;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 0% 50%;
        }
        .r-card-img-wrap-span {
          font-size: 20px;
          width: 10%;
          color: #fff;
          background-color: rgb(255, 0, 0);
          text-align: center;
          writing-mode: vertical-lr;
          letter-spacing: 0.8rem;
        }
        i {
          position: absolute;
          top: 10px;
          right: 10px;
          color: #fff;
          font-size: 50px;
        }
      }
      .r-card-body {
        padding: 10px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .r-card-body-h2 {
          font-size: 24px;
          font-weight: 700;
          color: $main-title;
          padding-bottom: 5px;
          text-shadow: none;
          letter-spacing: 0.2rem;
        }
        .r-card-body-p {
          font-size: 16px;
          letter-spacing: 0.2rem;
          line-height: 2rem;
        }
        .r-card-body-cates {
          margin-bottom: 5px;
          .r-card-body-cates-span {
            font-size: 18px;
            color: #000;
            letter-spacing: 0.2rem;
            background: $main-yellow;
          }
        }

        .r-card-week-btn {
          padding-bottom: 10px;

          .r-card-week-btn-small {
            font-size: 14px;
            padding: 3px;
            color: $main-text;
            text-align: center;
            background-color: $main-yellow;
            border: 1px solid $main-text;
            border-radius: 50%;
            margin-right: 5px;
          }
        }
        .r-card-button {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 5px;
          .r-card-button-a {
            position: relative;
            width: 250px;
            height: 40px;
            background: $main-orange;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #333;
            gap: 10px;
            text-decoration: none;
            letter-spacing: 0.2rem;
            font-weight: 700;
            border: 3px solid #333;
            border-radius: 8px;
            overflow: hidden;

            .r-card-button-span {
              font-size: 20px;
              display: inline-block;
              z-index: 2;
              transition: 0.5s ease-in-out;
            }
            i {
              font-size: 24px;
              display: inline-block;
              z-index: 2;
              animation: r-animateBtn 1s linear infinite;

              @keyframes r-animateBtn {
                0% {
                  opacity: 0;
                }
                25% {
                  opacity: 1;
                }
                50% {
                  opacity: 1;
                }
                75% {
                  opacity: 1;
                }
                100% {
                  opacity: 0;
                }
              }
            }
          }
          .r-card-button-a::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $card-btn;
            transform: scaleX(0);
            transition: transform 0.5s ease-in-out;
            transform-origin: right;
          }
          .r-card-button-a:hover::before {
            transform: scaleX(1);
            transform-origin: left;
          }
          .r-card-button-a:hover {
            span {
              color: #fff;
            }
            i {
              color: #fff;
            }
          }
        }
      }
    }

  }
  .r-pageno-found {
    font-size: 24px;
    letter-spacing: 0.3rem;
    color: #333;
  }
}
