$main-yellow: #fad249;
$main-Blue: #113f75;
$main-title: #2b325c;
$main-text: #5e5e5e;
$text-shadow: #e4e4e4;
$cate-btn: #fce38c;
$main-orange: #ff8200;
$card-btn: #80b938;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.r-container {
  .r-main-visual {
    display: flex;
    justify-content: space-between;



    .r-wave {
      width: 15%;
      background: url('./../../../public/03-shop-img/shop-wave-1920px.png') 0 0;
      left: 0;
      top: 0;
      size: 100% 100%;
      animation: animateWave 10s linear infinite;
      z-index: 100;
      animation-delay: 0.3s;

      @keyframes animateWave {
        0% {
          background-position-y: 0px;
        }

        100% {
          background-position-y: 1920px;
        }
      }
    }

    .r-shop-list {
      width: 60%;
      padding: 80px 60px 0 0;


      .r-shop-map {
        height: 500px;
        border: 1px solid #000;
        margin-top: 50px;
        overflow: hidden;
      }


    }
  }
}
