.sh-body-profile {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow-x: hidden;
}
.sh-body-profile .container {
  height: calc(100vh - 120px);
  display: flex;
}
.sh-body-profile .container .container-base-left {
  background-color: #fad249;
  width: 300px;
  height: 100%;
  padding-top: 100px;
}
.sh-body-profile .container .navagator {
  background-color: #fad249;
  width: 25%;
  padding-top: 100px;
  display: flex;
  justify-content: right;
  position: fixed;
  transition: 0.5s;
  overflow: hidden;
}
.sh-body-profile .container .navagator .list h4 {
  font-size: 16px;
  padding: 0 50px;
  margin: 10px 0;
}
.sh-body-profile .container .navagator .list .category {
  display: flex;
  align-items: center;
  padding: 5px 50px;
  margin: 5px;
}
.sh-body-profile .container .navagator .list .category img {
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sh-body-profile .container .navagator .list .category .category-name {
  font-size: 20px;
  font-weight: 900;
  margin-left: 9px;
}
.sh-body-profile .container .navagator .list .logout {
  margin-top: 80px;
}
.sh-body-profile .container .main-content {
  padding-top: 100px;
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 0 8%;
}
.sh-body-profile .container .main-content h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 70px;
}
.sh-body-profile .container .main-content .profile-card {
  display: flex;
  flex-direction: column;
  background-color: #ffebbd;
  padding: 30px;
  margin-bottom: 30px;
  height: 60%;
}
.sh-body-profile .container .main-content .profile-card .profile-top {
  display: flex;
  position: relative;
  margin-bottom: 20px;
}
.sh-body-profile .container .main-content .profile-card .profile-top .profile-photo {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  background-color: #c4c4c4;
  box-shadow: 0px 5px 5px rgba(206, 71, 67, 0.25);
  overflow: hidden;
  position: absolute;
  top: -60px;
  left: 50px;
}
.sh-body-profile .container .main-content .profile-card .profile-top .profile-photo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.sh-body-profile .container .main-content .profile-card .profile-top .username {
  font-size: 28px;
  font-weight: 700;
  padding-left: 200px;
}
.sh-body-profile .container .main-content .profile-card .profile-top .user-edit {
  height: 42px;
  width: 196px;
  font-size: 20px;
  border-radius: 8px;
  font-weight: 900;
  margin-left: 200px;
  border: 3px solid #2b325c;
  color: #534e48;
  font-weight: 900;
  position: absolute;
  right: 0;
}
.sh-body-profile .container .main-content .profile-card .profile-detail {
  background-color: #fff6e2;
  height: 400px;
  border-radius: 10px;
}
.sh-body-profile .container .main-content .profile-card .profile-detail .item {
  padding: 5px;
}
.sh-body-profile .container .main-content .profile-card .profile-detail .item h4 {
  font-size: 20px;
}
.sh-body-profile .container .main-content .profile-card .profile-detail .item p {
  font-size: 16px;
}
.sh-body-profile .container .main-content .remove-account {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.sh-body-profile .container .main-content .remove-account .remove-section h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 25px 0;
}
.sh-body-profile .container .main-content .remove-account .remove-section .removeBtn {
  height: 42px;
  width: 196px;
  font-size: 20px;
  border-radius: 8px;
  font-weight: 900;
  background-color: #dd5555;
  border: 3px solid #2b325c;
  color: #ffffff;
}
.sh-body-profile .container .main-content .remove-account .decorate-store {
  max-width: 500px;
  min-width: 300px;
  position: absolute;
  margin-right: 40px;
  bottom: -40px;
  right: 0;
}
.sh-body-profile .container .main-content .remove-account .decorate-store img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sh-body-profile .container .container-base-right {
  padding-top: 100px;
  width: 300px;
  display: flex;
  justify-content: center;
}
.sh-body-profile .footer {
  height: 120px;
  bottom: 0;
  position: fixed;
  width: 100%;
}/*# sourceMappingURL=test_UserProfile.css.map */