$s-footer-height: 120px;
$s-padding-top: 100px;

.s-body-profile {
  display: flex;
  flex-direction: column;
  // min-height: 100vh;
  // overflow: scroll;
  // overflow-x: hidden;
  // background-color: red;
  position: relative;

  // border: 1px solid green;

  .s-container {
    height: calc(100vh - $s-footer-height);
    display: flex;
    position: relative;

    // border: 1px solid red;

    .s-upt-navigation {
      // position: fixed;
      width: 650px;
      height: 100vh;
      background: #fad249;
      transition: 0.5s;
      overflow: hidden;
      padding-top: $s-padding-top;

      // border: 1px solid red;

      .s-upt-ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        // border: 1px solid green;

        .s-upt-li {
          width: 228px;
          list-style: none;

          // border: 1px solid black;

          .s-upt-h4 {
            margin: 10px 0;
            font-size: 15px;
          }

          .s-upt-item {
            display: block;
            width: 100%;
            display: flex;
            text-decoration: none;
            color: #534e48;

            .s-upt-icon {
              display: block;
              min-width: 50px;
              height: 60px;
              line-height: 60px;
              display: flex;
              justify-content: center;
              align-items: center;

              // border: 1px solid green;

              .s-upt-img {
                // width: px;
                width: 60%;
                height: 60%;
                object-fit: cover;

                // border: 1px solid red;
              }
            }

            .s-upt-title {
              display: block;
              padding: 0 10px;
              height: 60px;
              line-height: 60px;
              text-align: start;
              white-space: nowrap;
              font-size: 20px;
              font-weight: 900;

              // border: 1px solid blue;
            }
          }

          .s-upt-item:hover {
            background: #fff6e2;
            // border-radius: 8px;
          }
        }
      }
    }

    @media (max-width: 991px) {
      .s-upt-navigation {
        position: fixed;
        width: 60px;
        height: 100%;
        background: #fad249;
        // transition: 0.5s;
        overflow: hidden;
        z-index: 5;

        // border: 1px solid red;

        .s-upt-ul {
          width: 100%;
          list-style: none;

          .s-upt-li {
            transform: translateX(172px);
            // width: 100%;
            // width: 45%;

            // border: 1px solid red;

            .s-upt-h4 {
              // margin: 10px 0;
              display: none;
            }
          }
        }
      }

      .s-upt-navigation.s-upt-active {
        // left: 0px;
        width: 100%;

        .s-upt-li {
          transform: translateX(2px);
          // width: 100%;
          // width: 45%;

          // border: 1px solid red;

          .s-upt-h4 {
            // margin: 10px 0;
            display: block;
          }
        }
      }
    }

    @media (max-width: 991px) {
      .s-upt-toggle {
        position: fixed;
        bottom: 0px;
        // top: 0;
        width: 60px;
        height: 60px;
        background: #330748;
        cursor: pointer;
        transform: scale(0.5);
        transition: 0.5s;
        z-index: 6;
      }

      .s-upt-toggle:before {
        content: '\f054';
        font-family: 'FontAwesome';
        position: absolute;
        width: 100%;
        height: 100%;
        line-height: 60px;
        text-align: center;
        font-size: 24px;
        color: #fff;

        // border: 1px solid red;
      }

      .s-upt-toggle.s-upt-active {
        background: #fff6e2;
        transform: scale(1);
        transition: 0.5s;
      }

      .s-upt-toggle.s-upt-active:before {
        content: '\f00d';
        font-family: 'FontAwesome';
        color: #330748;
      }
    }

    .s-main-content {
      // overflow: scroll;
      margin-left: 25px;
      // margin-right: 470px;
      width: 40%;
      height: 100%;
      padding-top: $s-padding-top;
      position: absolute;
      left: 750px;

      // border: 1px solid red;
      // background-color: red;
    }

    @media (max-width: 991px) {
      .s-main-content {
        transform: translateX(-690px);
        margin-left: 10px;
        width: 80%;
        height: 1110px;
      }
    }
  }
}

@media (max-width: 991px) {
  .s-body-profile {
    // overflow: scroll;
    // padding-top: 1110px;

    .s-container {
      margin-bottom: 400px;
    }

    .s-footer {
      // height: $s-footer-height;
      // top: 1110px;
      // position: absolute;
      // padding-top: 1110px;

      // width: 100%;
      // background-color: #2b325c;

      // z-index: 4;
    }
  }
}
