main {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    letter-spacing: 2px
}

$main-blue: #2B325C;
$main-yellow: #FAD249;
$main-text: #5E5E5E;
$secondary-blue: #113F75;
$secondary-yellow: #FEF3DA;
$green: #53B2A8;
$red: #ED4743;
$text-shadow: #E4E4E4;
$base-line-eight: 10px;
$main-border: 3px solid #113F75;
$main-border-radius: 8px;

@function line($count:1) {
    @return $base-line-eight * $count;
}
%h1 {
    font-size: 48px;
}
%h2 {
    font-size: 36px;
}
%h3 {
    font-size: 20px;
    color: #2B325C;
    font-weight: 500;
}
%h4 {
    font-size: 18px;
}
%p{
    font-size: 16px;
}
%a-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.a-productCardList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: $main-yellow;
    padding-top: line(3);
}