main {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

$main-blue: #2b325c;
$main-yellow: #fad249;
$main-text: #5e5e5e;
$secondary-blue: #113f75;
$secondary-yellow: #fef3da;
$green: #53b2a8;
$red: #ed4743;
$main-orange: #f57d00;
$text-shadow: #e4e4e4;
$base-line-eight: 10px;
$main-border: 3px solid #113f75;
$main-border-radius: 8px;

@function line($count: 1) {
  @return $base-line-eight * $count;
}
%a-text {
  font-size: 22px;
  // font-weight: 600;
  color: #5e5e5e;
  letter-spacing: 1.5px;
}
%a-title {
  font-size: 22px;
  // font-weight: 600;
  color: #2b325c;
  letter-spacing: 1.5px;
}
%a-secondary-color-text {
  font-size: 22px;
  // font-weight: 600;
  color: #113f75;
}
%a-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

//navBar+carousel
.a-navBarWrapper {
  height: 70px;
  background-color: $main-yellow;
}
.a-carouselBigWrapper {
  margin: 50px 0 30px 0;
  display: flex;
  justify-content: center;
}

//productDatils
.a-productDatilsBigWrapper {
  width: 100%;
  // height: 1200px;
  margin: auto;
  // background-color: $main-yellow;
  .a-commentArea {
    width: 100%;
    position: relative;
    margin-top: 20px;
    // .a-commentArea {
    //   display: flex;
    //   flex-direction: column;
    //   position: absolute;
    //   top:1230px;
      .a-startWrapper {
        width: 45px;
        position: absolute;
        top:-48px;
        left:405px;
        img {
          width: 100%;
        }
      }
    // }
    .a-productUserComment {
      position: absolute;
      left: 300px;
      display: flex;
      align-items: center;
      margin-top: 10px;
      background-color: $secondary-yellow;
      border-radius: $main-border-radius;
    }
  }
  
  .a-userCommentWrapper {
    padding-left: 50%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
  .a-productRating {
    color: $main-orange;
    font-size: 30px;
    position: absolute;
    font-weight: 500;
    width: 200px;
    top: -40px;
    left: 300px;
  }
  .a-productDetailWrapper {
    position: relative;
    flex-direction: row;
    background-color: #fff;
    margin: 0;
    margin-top: 80px;
    .a-detailWrapper {
      width: 70%;
      height: 500px;
      position: absolute;
      top: 0;
      left: 300px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      // margin-bottom: 10px;
      .a-productName {
        @extend %a-flex;
        .a-detailsTitle {
          color: $red;
          font-weight: 600;
          font-size: 28px;
          padding-left: 10px;
        }
      }
      .a-productDescription {
        width: 650px;
        .a-detailsText {
          @extend %a-text;
          line-height: 30px;
          letter-spacing: 2px;
        }
      }
      .a-shopNameWrapper {
        @extend %a-flex;
        .a-detailsTitle {
          @extend %a-text;
        }
      }
      .a-shopNameWrapper img {
        width: 50px;
      }
      .a-shopPhone {
        @extend %a-flex;
        .a-detailsPhone {
          @extend %a-text;
        }
        img {
          width: 48px;
        }
      }
      .a-detailsTitle {
        @extend %a-secondary-color-text;
      }
      .a-productName img {
        width: 50px;
      }
      .a-informationWrapper {
        display: flex;
        align-items: center;
        margin: 15px 0;
      }
      .a-productCategory {
        @extend %a-flex;
        background-color: $secondary-yellow;
        width: 115px;
        border-radius: $main-border-radius;
        width: 120px;
        height: 50px;
        .a-detailsText {
          @extend %a-title;
        }
      }
      .a-productCategory img {
        width: 30px;
        padding-right: 3px;
      }
      .a-shopDeadline {
        @extend %a-flex;
        background-color: $secondary-yellow;
        width: 280px;
        height: 50px;
        margin: 0 15px;
        border-radius: $main-border-radius;
        img {
          width: 30px;
          padding-right: 3px;
        }
      }
      .a-productCollection {
        @extend %a-flex;
        color: $main-blue;
        background-color: $secondary-yellow;
        width: 200px;
        height: 50px;
        border-radius: $main-border-radius;
      }
      .a-detailText {
        @extend %a-title;
      }
      .a-productCollection img {
        width: 30px;
        padding-right: 5px;
      }
    }
    .a-priceContent {
      position: absolute;
      top: 0;
      right: 300px;
      @extend %a-flex;
      display: flex;
      flex-direction: column;
      background-color: $secondary-yellow;
      width: 390px;
      border-radius: $main-border-radius;
      padding: 30px 0 10px 0;
      // position: relative;
      .a-discountIconWrapper {
        position: absolute;
        top: 10%;
        right: -12%;
        rotate: 20deg;
        .a-dicountWrapper {
          width: 100px;
        }
        img {
          width: 100%;
          object-fit: cover;
        }
        p {
          font-size: 23px;
          color: #fff;
          position: absolute;
          top: 35%;
          left: 30%;
          z-index: 1;
        }
      }
      .a-detailsText {
        @extend %a-text;
        padding: 2px;
      }
      .a-priceWrapper {
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding: 0 0 8px 0;
      }
      .a-productPrice {
        @extend %a-flex;
        color: #5e5e5e;
        line-height: line(2);
        padding-right: 12px;
        text-decoration: line-through;
      }
      .a-productDiscount {
        @extend %a-flex;
        line-height: line(2);
        font-weight: 500;
        .a-detailsDiscount {
          @extend %a-secondary-color-text;
        }
      }
      .a-productDiscount img {
        width: 35px;
      }
      .a-productQty {
        @extend %a-flex;
        margin: 5px;
        .a-qtyTex {
          @extend %a-secondary-color-text;
        }
      }
      .a-productQuantity {
        @extend %a-flex;
        margin: 5px;
      }
      .a-minusButton {
        border: none;
        background: transparent;
        margin-right: 6px;
      }
      .a-minus {
        border: none;
        background: #fff;
        color: $main-text;
        height: 35px;
        border-radius: 8px 0 0 8px;
        font-size: 25px;
      }
      .a-minusButton {
        border: none;
        background: transparent;
        margin-left: 6px;
      }
      .a-plus {
        border: none;
        background: #fff;
        color: $main-text;
        height: 35px;
        border-radius: 0 8px 8px 0;
        font-size: 25px;
      }
      .a-qtyInput {
        border-radius: 0%;
        border: none;
        outline: none;
        height: 35px;
        text-align: center;
      }
      .a-qty {
        border: $main-border;
        color: $secondary-blue;
        border-radius: $main-border-radius;
        padding: 3px 10px;
        margin: 0 10px;
        background-color: #fff;
      }
      .a-quantity {
        @extend %a-flex;
      }
      .a-quantity p {
        padding-right: 10px;
        margin-top: 10px;
      }
      .a-quantityButton {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 180px;
        height: 30px;
        margin-top: 10px;
        border-radius: 8px;
        background-color: #fff;
      }
      .a-addButton {
        width: 220px;
        height: 60px;
        text-align: center;
        @extend %a-flex;
        background-color: $main-yellow;
        border: $main-border;
        border-radius: $main-border-radius;
        padding: 5px 20px;
        margin: 25px 0 40px 0;
        font-weight: 500;
        .a-detailsText {
          @extend %a-title;
        }
      }
      .a-addButton:hover {
        background-color: #66cfc5;
        border: $main-border;
        cursor: pointer;
      }
      .a-addButton:hover .a-detailsText {
        color: #fff;
      }
      .a-addButton img {
        width: 35px;
      }
    }
    .a-goBack {
      position: absolute;
      top: 285px;
      right: 290px;
      margin-top: 20px;
      .a-goBackButton {
        width: 400px;
        height: 60px;
        text-align: center;
        @extend %a-flex;
        background-color: #66cfc5;
        color: #fff;
        border: $main-border;
        border-radius: $main-border-radius;
        padding: 15px 50px;
        margin: 25px 0 40px 0;
        font-weight: 500;
        @extend %a-title;
      }
      .a-goBackButton:hover {
        background-color: $main-yellow;
        color: $secondary-blue;
        cursor: pointer;
      }
    }
  }
  .a-userCommentButton {
    position: absolute;
    left: 800px;
    top: 1070px;
    width: 200px;
    height: 60px;
    text-align: center;
    @extend %a-flex;
    width: 220px;
    text-align: center;
    @extend %a-flex;
    background-color: $main-yellow;
    border: $main-border;
    border-radius: $main-border-radius;
    padding: 5px 20px;
    margin: 25px 0 40px 0;
    font-weight: 500;
    @extend %a-title;
  }
  .a-userCommentButton:hover {
    background-color: #66cfc5;
    border: $main-border;
    cursor: pointer;
    color: #fff;
  }
  
  // .a-userCommentWrapper {
  //   width: 300px;
  //   text-align: center;
  //   @extend %a-flex;
  //   background-color: #66cfc5;
  //   color: #fff;
  //   border: $main-border;
  //   border-radius: $main-border-radius;
  //   // position: absolute;
  //   // top: 1000px;
  //   // right: 100px;
  //   padding: 15px 50px;
  //   margin: 25px 0 40px 0;
  //   font-weight: 500;
  //   @extend %a-title;
  // }
}
.a-recommendCardWrapper {
  margin-top: 160px;
}
// .a-product-footer {
//   margin-top: 700px;
//   width: 100%;
//   position: absolute;
//   top: 90%;
// }