main {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

$main-blue: #2b325c;
$main-yellow: #fad249;
$main-text: #5e5e5e;
$secondary-blue: #113f75;
$secondary-yellow: #fef3da;
$main-orange: #f57d00;
$green: #53b2a8;
$red: #ed4743;
$text-shadow: #e4e4e4;
$base-line-eight: 10px;
$main-border: 3px solid #113f75;
$main-border-radius: 8px;
@function line($count: 1) {
  @return $base-line-eight * $count;
}
%a-text {
  font-size: 22px;
  // font-weight: 600;
  color: #5e5e5e;
  letter-spacing: 1.5px;
}
%a-title {
  font-size: 22px;
  // font-weight: 600;
  color: #2b325c;
  letter-spacing: 1.5px;
}
%a-secondary-color-text {
  font-size: 22px;
  // font-weight: 600;
  color: #113f75;
}
%a-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

//iconChoice
.a-iconsText {
  color: $secondary-blue;
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  margin: 40px 0;
}
.a-iconsWrapper {
  display: flex;
  justify-content: center;
  .a-iconAladdinWrapper {
    width: 200px;
    height: 200px;
    border: 8px solid #87efbd;
    overflow: hidden;
    background-color: $secondary-blue;
    border-radius: 50%;
    padding: 10px 0 0 15px;
    img {
      width: 90%;
      object-fit: cover;
      object-position: center center;
    }
  }
}
.a-iconsWrapper {
  cursor: pointer;
}

.a-iconAvengersWrapper {
  width: 200px;
  height: 200px;
  border: 8px solid $secondary-blue;
  overflow: hidden;
  background-color: $main-yellow;
  border-radius: 50%;
  margin: 0 50px;
  img {
    width: 85%;
    object-fit: cover;
    object-position: center center;
    padding-top: 25px;
  }
}

//CategoryFilter
.blueTheme {
  border: 8px solid #87efbd;
  background-color: $secondary-blue;
}
.yellowTheme {
  border: 8px solid $secondary-blue;
  background-color: $main-yellow;
}

.a-productFilterWrapper {
  display: flex;
  justify-content: center;
  .a-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .a-selectType {
      color: $secondary-blue;
      font-size: 25px;
      text-align: center;
      font-weight: 700;
      margin-top: 25px;
    }
    .a-categoryWrapper {
      width: 840px;
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      .a-categoryContentWapper {
        cursor: pointer;
        .a-categoryFIlter {
          @extend %a-flex;
          flex-direction: column;
          margin-top: 30px;
          .a-iconWrapper {
            width: 140px;
            height: 140px;
            border-radius: 50%;
            overflow: hidden;
            margin: 10px 10px 5px 10px;
            @extend %a-flex;
            .a-icon {
              width: 100px;
              object-fit: cover;
            }
          }
          .a-categoryIconWrapper {
            display: flex;
            justify-content: center;
            .a-categoryInput {
              display: none;
              background-color: transparent;
            }
            .a-categoryName {
              text-align: center;
              font-size: 20px;
              color: $secondary-blue;
              padding-left: 5px;
            }
          }
          // .a-categoryIconWrapper:hover {
          //   border: 8px solid $secondary-blue;
          //   background-color: $main-yellow;
          // }
        }
      }
    }
  }
}

.a-filterButton {
  width: 200px;
  text-align: center;
  @extend %a-flex;
  background-color: $main-yellow;
  color: $main-blue;
  border: $main-border;
  border-radius: $main-border-radius;
  padding: 5px 20px;
  margin-top: 60px;
  font-weight: 500;
  margin-bottom: 100px;
}
.a-productCardsWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  // searchBar
  .a-productCardsWrapper {
    display: flex;
  }
  .a-sideBar {
    width: 350px;
    .a-sideBarWrapper {
      position: relative;
      position: fixed;
      .a-aladdinWrapper {
        width: 200px;
        height: 200px;
        overflow: hidden;
        padding: 10px 0 0 15px;
        position: absolute;
        top: -20px;
        left: 20px;
        rotate: -20deg;
        img {
          width: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }
      .a-searchBarWrapper {
        margin: 100px 50px 0 30px;
        width: 200px;
        height: 500px;
        background-color: $main-yellow;
        border-radius: 8px;
        // position: relative;
      }
      .a-sideBarOptionsWrapper {
        @extend %a-flex;
        flex-direction: column;
        padding-top: 80px;
        .a-optionWrapper {
          width: 150px;
          height: 50px;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          font-weight: 700;
          color: $main-text;
          background-color: $secondary-yellow;
          border-radius: 30px;
          display: inline-flex;
          margin: 10px 0;
        }
        .a-optionWrapper:hover {
          background-color: $green;
          color: #fff;
          cursor: pointer;
        }
        .a-optionWrapper {
          background-color: $green;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
  // ProductCard
  .a-porductCards {
    .a-filterProductCard {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 1200px;
      margin: 30px 5px 5px 50px;
      .a-filterProudctWrapper {
        display: flex;
        flex-direction: column;
        margin: 15px;
        .a-filterImgWrapper {
          width: 300px;
          height: 350px;
          overflow: hidden;
          border-radius: 8px;
          border: 5px solid $secondary-blue;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
          }
        }
        .a-filterTextWrapper {
          @extend %a-flex;
          padding-top: 10px;
          .a-filterProudctName {
            @extend %a-secondary-color-text;
          }
          .a-filterProudctDiscount {
            @extend %a-secondary-color-text;
            background-color: $main-yellow;
            padding: 2px 9px;
            margin-left: 8px;
          }
        }
        .a-filterPriceWrapper {
          @extend %a-flex;
          .a-filterPrice {
            text-decoration: line-through;
            @extend %a-secondary-color-text;
          }
          .a-filterText {
            @extend %a-secondary-color-text;
            padding: 10px;
          }
        }
      }
    }
  }
}
