main {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  letter-spacing: 2px;
}

$main-blue: #2b325c;
$main-yellow: #fad249;
$main-text: #5e5e5e;
$secondary-blue: #113f75;
$secondary-yellow: #fef3da;
$green: #53b2a8;
$red: #ed4743;
$text-shadow: #e4e4e4;
$base-line-eight: 10px;
$main-border: 3px solid #113f75;
$main-border-radius: 8px;

%a-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-productVideoWrapper {
  // position: relative;
  width: 500px;
  height: 500px;
  margin: auto;
  overflow: hidden;
  border: 6px solid $main-yellow;
  @media (max-width: 390px) {
    width: 350px;
    height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 30px 0 0 70px;
  }
  // padding: 5px;
}
video {
  width: 100%;
  object-fit: cover;
}
// .a-producVideo {
//   position: absolute;
//   left: -30px;
//   top: 0px;
//   z-index: 1;
//   background-color: $secondary-yellow;
//   border-radius: $main-border-radius;
//   width: 170px;
//   height: 50px;
//   @extend %a-flex
// }
