main {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  letter-spacing: 2px;
}
$main-blue: #2b325c;
$main-yellow: #fad249;
$main-text: #5e5e5e;
$secondary-blue: #113f75;
$secondary-yellow: #fef3da;
$main-orange: #f57d00;
$green: #53b2a8;
$red: #ed4743;
$text-shadow: #e4e4e4;
$base-line-eight: 10px;
$main-border: 3px solid #113f75;
$main-border-radius: 8px;
@function line($count: 1) {
  @return $base-line-eight * $count;
}
%a-text {
  font-size: 22px;
  //   font-weight: 600;
  color: #5e5e5e;
  letter-spacing: 1.5px;
}
%a-title {
  font-size: 22px;
  //   font-weight: 600;
  color: #2b325c;
  letter-spacing: 1.5px;
}
%a-secondary-color-text {
  font-size: 22px;
  //   font-weight: 600;
  color: #113f75;
}
%a-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.a-box {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #b9b2b2aa;
    width: 100vw;
    height: 100vh;

.a-productCommentWrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
  position: relative;
  top: 30%;
  left: 40%;
  // height: 500px;
  .a-commentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    .a-commentInput {
      width: 500px;
      height: 200px;
      border-radius: $main-border-radius;
      appearance: none;
      -moz-appearance: none;
      border: 3px solid $main-blue;
      background-color: $secondary-yellow;
      text-align: center;
      outline: none;
      z-index: 100;
      margin-top: 10px;
    }
    .a-sumbitButton {
      width: 100px;
      height: 50px;
      background-color: $main-yellow;
      border: 3px solid $secondary-blue;
      border-radius: $main-border-radius;
      margin-top: 20px;
      font-size: 18px;
      color: $secondary-blue;
    }
    .a-sumbitButton:hover {
      cursor: pointer;
      background-color: #66cfc5;
      color: #fff;
      border: 3px solid $secondary-blue;
    }
  }
}
}
.a-productUserContent {
  font-size: 20px;
  width: 400px;
  height: 80px;
  color: $main-text;
  // padding: 5px;
  justify-content: start;
  align-items: center;
  display: flex;
  .a-memberPhoto {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 30px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .a-memberName {
    color: $secondary-blue;
    font-size: 20px;
    font-weight: 500;
    padding-right: 8px;
  }
  .userComment {
    color: $main-text;
    font-size: 20px;
    height: 50px;
   //  font-weight:;
   }
}