main {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  letter-spacing: 2px;
}
$main-blue: #2b325c;
$main-yellow: #fad249;
$main-text: #5e5e5e;
$secondary-blue: #113f75;
$secondary-yellow: #fef3da;
$green: #53b2a8;
$red: #ed4743;
$text-shadow: #e4e4e4;
$base-line-eight: 10px;
$main-border: 3px solid #113f75;
$main-border-radius: 8px;
%a-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-category {
  @extend %a-flex;
  .a-categoryWrapper {
    width: 900px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    .a-categoryContentWapper {
      @extend %a-flex;
      flex-direction: column;
      margin-top: 30px;
      .a-iconSpan {
        @extend %a-flex;
        flex-direction: column;
        .a-iconWrapper {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          border: 3px solid $secondary-blue;
          overflow: hidden;
          background-color: $secondary-yellow;
          margin: 20px 10px 5px 10px;
          @extend %a-flex;
          .a-icon {
            width: 120px;
            object-fit: cover;
          }
          .a-categoryInput {
            display: none;
            background-color: transparent;
          }
        }
        .a-categoryName {
          text-align: center;
          font-size: 20px;
          color: $secondary-blue;
        }
      }
    }
  }
}

.a-filterImgWrapper {
  width: 100%;
  overflow: hidden;
  
}
.a-filterImgWrapper img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
  padding: 0;
}