main {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    letter-spacing: 2px
}

$main-blue: #2B325C;
$main-yellow: #FAD249;
$main-text: #5E5E5E;
$secondary-blue: #113F75;
$secondary-yellow: #FEF3DA;
$green: #53B2A8;
$red: #ED4743;
$text-shadow: #E4E4E4;
$base-line-eight: 10px;
$main-border: 3px solid #113F75;
$main-border-radius: 8px;

@function line($count:1) {
    @return $base-line-eight * $count;
}
%a-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

    %h1 {
        font-size: 48px;
    }
    %h2 {
        font-size: 36px;
    }
    %h3 {
        font-size: 20px;
        color: #2B325C;
        font-weight: 500;
    }
    %h4 {
        font-size: 18px;
    }
    %p{
        font-size: 16px;
    }

.a-produtCardWrapper {
    width: 30%;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    // justify-content: center;
    .a-productCardContent {
        background-color: $secondary-yellow;
        width: 100%;
        @extend %a-flex;
        flex-direction: column;
        border: $main-border;
        
    .a-productImgWrapper{
        width: 100%;
        height: 400px;
        overflow: hidden;
    }
    .a-productImgWrapper img {
        width: 100%;
        object-fit: cover;
        object-position: center center;
        padding: 0;
        aspect-ratio: 4/3;
        }
    }
    .a-productCardTitle {
        @extend %a-flex;
    }
    // .a-productCardTitle h3 {
    //     @extend %h3;
    // }
    .a-productCardTitle img {
        width: 30px;
        padding-left: 3px;
    }
    .a-priceWrapper {
        display: flex;
        justify-content:space-around;
        text-align: center;
        padding:0 0 8px 0;
    }
    .a-productPrice {
        @extend %a-flex;
        color: #5E5E5E;
        line-height: line(2);
        padding-right: 12px;
        text-decoration:line-through;
    }
    .a-productDiscount {
        @extend %a-flex;
        color: $secondary-blue;
        line-height: line(2);
        font-weight: 500;
    }
    .a-productDiscount img {
        width: 32px;
    }
    .a-productQuantity {
        @extend %a-flex;
        color: $main-text;
    }
    .a-quantity{
        padding: 3px 8px;
        margin: 0px 20px 0 5px;
        background-color: #fff;
        border: $main-border;
        color: $secondary-blue;
        font-weight: 400;
        border-radius: $main-border-radius; 
    }
    
    .a-quantity2 {
        padding: 3px 10px;
        margin: 0px 6px;
        background-color: #fff;
        border: $main-border;
        color: $secondary-blue;
        border-radius: $main-border-radius; 
    }
    .a-productQuantity2 img {
        margin-left: 6px;
    }
    .a-addButton {
        width: 200px;
        text-align: center;
        @extend %a-flex;
        background-color: $main-yellow;
        color: $main-blue;
        border: $main-border;
        border-radius: $main-border-radius;
        padding: 5px 20px;
        margin: 15px 0 40px 0;
        font-weight: 500;
    }
    .a-addButton img {
        width: 35px;
    }
}