main {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    letter-spacing: 2px
}
$main-blue: #2B325C;
$main-yellow: #FAD249;
$main-text: #5E5E5E;
$secondary-blue: #113F75;
$secondary-yellow: #FEF3DA;
$green: #53B2A8;
$red: #ED4743;
$text-shadow: #E4E4E4;
$base-line-eight: 10px;
$main-border: 3px solid #113F75;
$main-border-radius: 8px;

.a-productCommentWrapper {
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 500px;
.a-commentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
.a-commentInput {
    width: 420px;
    height: 80px;
    border-radius: $main-border-radius;
    appearance:none;
    -moz-appearance:none;
    border: 2px solid $secondary-blue;
    background-color:$main-yellow;
    text-align: center;
    outline: none;
}
.a-sumbitButton {
    width: 80px;
    height: 40px;
    background-color: #fff;
    border: 3px solid $secondary-blue;
    border-radius: $main-border-radius;
    margin-top: 10px;
}
}
}