main {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    letter-spacing: 2px
}

$main-blue: #2B325C;
$main-yellow: #FAD249;
$main-text: #5E5E5E;
$secondary-blue: #113F75;
$secondary-yellow: #FEF3DA;
$green: #53B2A8;
$red: #ED4743;
$text-shadow: #E4E4E4;
$base-line-eight: 10px;
$main-border: 3px solid #113F75;
$main-border-radius: 8px;
%a-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
@function line($count:1) {
    @return $base-line-eight * $count;
}

.a-recommendText {
    display: flex;
    justify-content: center;
    background-color: $main-yellow;
    color: $secondary-blue;
    @extend %a-flex;
    height: 100px;
    padding-bottom: 30px;
}
.a-recommendText img {
    width: 35px;
    animation: 1s swing infinite;
    @keyframes swing {
        0%{
            transform: rotate(30deg)
        }
        50%{
            transform: rotate(-30deg)
        }
        100%{
            transform: rotate(30deg)
        }
    }
}
.a-productRecommend {
    @extend %a-flex;
    background-color: $main-yellow;
    height: 250px;
    padding-bottom: 55px;
}
.a-productRecommend  img {
    width: 30px;
}
.a-recommendImgWrapper{
    @extend %a-flex;
}
.a-recommendWrapper {
    display: flex;
}
.a-recommendWrapper img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid $secondary-blue;
    border-radius: 8px;
    margin: 20px 20px;
}