$main-yellow: #FAD249;
$main-blue: #113F75;
$main-text: #5E5E5E;

$border-lg: $main-blue 3px solid;
$border-sm: $main-blue 2px solid;

$text-shadow: #E4E4E4 2px 2px;
$btn-shadow-lg: 6px 6px $main-blue;
$btn-shadow-sm: 2px 2px $main-blue;
$light-box-shadow: rgba(53, 53, 53, 0.75);

$min-width: 390px;
$min-height: 400px;
$wave-height: 40px;

$font-family: Arial, Helvetica, sans-serif;

$border-radius-card: 10px;
$border-radius-button: 8px;


* {
    box-sizing: border-box;
}

p, a {
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.4rem;

}

@media (min-width: 391px) {
    p, a {
        font-size: 24px;
        line-height: 1.5rem;
    }
}

li {
    list-style: none;
}

.y-footer-bg {
    background-color: $main-blue;
    // height: 40px;
    padding: 30px;

    p, a {
        color: #fff;
    }

    .y-footer-body {
        width: 100%;
        max-width: 1320px;
        margin-bottom: 15px;
        padding: 20px 10px;
        border-bottom: 2px dashed #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .y-footer-logo {
            width: 110px;
            margin: 0 auto 40px;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .y-footer-content {
            width: 100%;
            padding: 0 40px;
            margin-bottom: 40px;
            display: flex;

        .y-footer-section {
            width: 20%;
            .y-footer-section-title {
                font-size: 40px;
                font-weight: bold;
                color: $main-blue;
                margin-bottom: 30px;
                display: flex;
                align-items: center;
                .y-footer-section-icon {
                        width: 36px;
                        height: 36px;
                        margin-right: 20px;
                        img {
                            width: 100%;
                            object-fit: fill;
                        }
                }
                a:hover {
                    cursor: pointer;
                }
            }

            .y-footer-section-links {
                margin-left: 60px;

                li {
                    font-size: 24px;
                    font-weight: bold;
                    letter-spacing: 2px;
                    line-height: 1.2;
                    margin-bottom: 10px;

                    a:hover {
                        cursor: pointer;
                        color: $main-blue;
                        text-decoration: underline;
                    }
                }
            }

            .y-shops-links {
                li {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    line-height: 1.2;


                }
                .y-shop-links-icon {
                    width: 24px;
                    height: 24px;
                    margin-right: 12px;
                    img {
                        width: 100%;
                        height: 100%;
                        // object-fit: cover;
                    }
                }
            }
        }
        }

    }

    .y-footer-rights {
        width: 100%;
        text-align: center;

        p {
            font-size: 12px;
        }
    }
}

@media (min-width: 391px) {
    .y-footer-bg {
        padding: 30px 300px;
    
        p, a {
            color: #fff;
        }
    
        .y-footer-body {
            width: 100%;
            max-width: 1320px;
            margin-bottom: 20px;
            padding: 40px 20px;
            border-bottom: 3px solid #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .y-footer-logo {
                width: 250px;
    
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
    
            .y-footer-content {
                width: 100%;
                padding: 0 40px;
                margin-bottom: 40px;
                display: flex;

            .y-footer-section {
                width: 20%;
                .y-footer-section-title {
                    font-size: 40px;
                    font-weight: bold;
                    color: $main-blue;
                    margin-bottom: 30px;
                    display: flex;
                    align-items: center;
                    .y-footer-section-icon {
                            width: 36px;
                            height: 36px;
                            margin-right: 20px;
                            img {
                                width: 100%;
                                object-fit: cover;
                            }
                    }
                    a:hover {
                        cursor: pointer;
                    }
                }

                .y-footer-section-links {
                    margin-left: 60px;

                    li {
                        font-size: 24px;
                        font-weight: bold;
                        letter-spacing: 2px;
                        line-height: 1.2;
                        a:hover {
                            cursor: pointer;
                            color: $main-blue;
                            text-decoration: underline;
                        }
                    }
                }
            }
            }
        }
    
        .y-footer-rights {
            width: 100%;
            padding-right: 20px;
            display: flex;
            justify-content: flex-end;
            p {
                font-size: 18px;
            }
        }

        
    }
}
