* {
  box-sizing: border-box;
}

p, a {
  color: #5E5E5E;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4rem;
}

@media (min-width: 391px) {
  p, a {
    font-size: 22px;
    line-height: 1.5rem;
  }
}
li {
  list-style: none;
}

input {
  border: none;
  border-radius: 10px;
}

.y-menu-border {
  height: 36px;
  padding: 8px;
  border: #2B325C 2px solid;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 2px 2px #2B325C;
}
.y-menu-border .y-menu-top {
  display: flex;
}
.y-menu-border .y-menu-top .y-h2-wrap {
  display: none;
  margin-right: 10px;
}
.y-menu-border .y-menu-top .y-h2-wrap img {
  height: 20px;
}
.y-menu-border .y-menu-top .y-menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.y-menu-border .y-menu-top .y-menu-icon .fa-sharp.fa-solid {
  color: #FAD249;
  font-size: 16px;
}

@media (min-width: 391px) {
  .y-menu-border {
    height: 60px;
    padding: 15px;
    border: #2B325C 3px solid;
    border-radius: 10px;
    box-shadow: 6px 6px #2B325C;
  }
}
.y-btn-wrap-closed .y-menu-border {
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.y-btn-wrap-closed .y-menu-border .y-menu-top .y-h2-wrap {
  display: none;
}
@media (min-width: 391px) {
  .y-btn-wrap-closed .y-menu-border {
    width: 155px;
  }
  .y-btn-wrap-closed .y-menu-border .y-menu-top .y-h2-wrap {
    display: flex;
    height: 20px;
    align-items: center;
  }
  .y-btn-wrap-closed .y-menu-border .y-menu-top .y-menu-icon .fa-sharp.fa-solid {
    font-size: 22px;
  }
}
.y-btn-wrap-opened {
  width: calc(100% - 40px);
  z-index: 10000;
  position: absolute;
  top: 9px;
  right: 20px;
}
.y-btn-wrap-opened .y-menu-border {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 100px 30px;
}
.y-btn-wrap-opened .y-menu-border .y-menu-top {
  display: flex;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
}
.y-btn-wrap-opened .y-menu-border .y-menu-top .y-h2-wrap {
  display: flex;
  align-items: flex-end;
}
.y-btn-wrap-opened .y-menu-border .y-menu-top .y-h2-wrap img {
  height: 16px;
}
.y-btn-wrap-opened .y-menu-border .y-menu-top .y-menu-icon {
  justify-content: start;
}
.y-btn-wrap-opened .y-menu-border .y-menu-top .y-menu-icon .fa-sharp.fa-solid {
  font-size: 22px;
}
.y-btn-wrap-opened .y-menu-border .y-menu-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.y-btn-wrap-opened .y-menu-border .y-menu-bottom .y-menu-search {
  width: 100%;
  height: 30px;
  min-width: 200px;
  max-width: 250px;
  margin-bottom: 40px;
  position: relative;
}
.y-btn-wrap-opened .y-menu-border .y-menu-bottom .y-menu-search .y-search-border {
  height: 100%;
  border: #2B325C 2px solid;
  border-radius: 8px;
  box-shadow: 2px 2px #2B325C;
}
.y-btn-wrap-opened .y-menu-border .y-menu-bottom .y-menu-search .y-search-icon {
  color: #5E5E5E;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.y-btn-wrap-opened .y-menu-border .y-menu-bottom .y-menu-content {
  width: 100%;
  padding: 0 40px;
  margin-bottom: 40px;
  display: flex;
}
.y-btn-wrap-opened .y-menu-border .y-menu-bottom .y-menu-content .y-page-title {
  margin-right: 30px;
}
.y-btn-wrap-opened .y-menu-border .y-menu-bottom .y-menu-links {
  width: 100%;
  padding: 0 40px;
  margin-bottom: 40px;
}
.y-btn-wrap-opened .y-menu-border .y-menu-bottom .y-social-media {
  width: 100%;
  padding: 0 40px;
  padding-bottom: 30px;
  border-bottom: 2px dashed #2B325C;
  display: flex;
  justify-content: space-between;
}
.y-btn-wrap-opened .y-menu-border .y-menu-bottom .y-social-media .y-social-media-wrap {
  width: 28px;
  aspect-ratio: 1/1;
}
.y-btn-wrap-opened .y-menu-border .y-menu-bottom .y-social-media .y-social-media-wrap img {
  width: 100%;
}

@media (min-width: 391px) {
  .y-btn-wrap-opened {
    width: calc(100% - 80px);
    top: 17px;
    right: 43px;
  }
  .y-btn-wrap-opened .y-menu-border {
    min-height: 400px;
    max-height: 800px;
    align-items: flex-start;
  }
  .y-btn-wrap-opened .y-menu-border .y-menu-top {
    top: 20px;
    right: 20px;
  }
  .y-btn-wrap-opened .y-menu-border .y-menu-top .y-h2-wrap {
    height: 20px;
  }
  .y-btn-wrap-opened .y-menu-border .y-menu-top .y-h2-wrap img {
    height: 20px;
  }
  .y-btn-wrap-opened .y-menu-border .y-menu-top .y-menu-icon {
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .y-btn-wrap-opened .y-menu-border .y-menu-top .y-menu-icon .fa-sharp.fa-solid {
    font-size: 25px;
  }
  .y-btn-wrap-opened .y-menu-border .y-menu-bottom {
    padding: 0 200px;
    max-width: 1350px;
  }
  .y-btn-wrap-opened .y-menu-border .y-menu-bottom .y-menu-search {
    height: 55px;
    min-width: 300px;
    max-width: 520px;
    margin-bottom: 60px;
  }
  .y-btn-wrap-opened .y-menu-border .y-menu-bottom .y-menu-search .y-search-border {
    height: 100%;
    border: #2B325C 3px solid;
    border-radius: 10px;
    box-shadow: 6px 6px #2B325C;
  }
  .y-btn-wrap-opened .y-menu-border .y-menu-bottom .y-menu-search .y-search-icon {
    font-size: 28px;
    right: 20px;
  }
  .y-btn-wrap-opened .y-menu-border .y-menu-bottom .y-menu-content {
    width: 100%;
    padding: 0 40px;
    margin-bottom: 40px;
    display: flex;
  }
  .y-btn-wrap-opened .y-menu-border .y-menu-bottom .y-menu-content .y-page-title {
    margin-right: 100px;
  }
  .y-btn-wrap-opened .y-menu-border .y-menu-bottom .y-menu-links {
    width: 100%;
    padding: 0 40px;
    margin-bottom: 40px;
  }
  .y-btn-wrap-opened .y-menu-border .y-menu-bottom .y-social-media {
    padding: 0 80px;
    padding-bottom: 30px;
    border-bottom: 2px dashed #2B325C;
    display: flex;
    justify-content: space-between;
  }
  .y-btn-wrap-opened .y-menu-border .y-menu-bottom .y-social-media .y-social-media-wrap {
    width: 28px;
    aspect-ratio: 1/1;
  }
  .y-btn-wrap-opened .y-menu-border .y-menu-bottom .y-social-media .y-social-media-wrap img {
    width: 100%;
  }
}/*# sourceMappingURL=Menu.css.map */