// 00-homepage & 01-cart
$main-yellow: #fad249;
$main-blue: #113f75;
$main-text: #5e5e5e;

$bgc-yellow: #fbfbf2;

$border-lg: $main-blue 3px solid;
$border-sm: $main-blue 2px solid;

$text-shadow: #e4e4e4 2px 2px;
$text-shadow-lg: 3px 3px 0 $main-blue;
$btn-shadow-lg: 6px 6px $main-blue;
$btn-shadow-sm: 2px 2px $main-blue;
$light-box-shadow: rgba(53, 53, 53, 0.75);

$min-width: 390px;
$min-height: 400px;
$wave-height: 40px;

$font-family: Arial, Helvetica, sans-serif;

$border-radius-card: 10px;
$border-radius-button: 8px;


// 03-shop
$main-orange: #f57d00;
$main-Blue: #113f75;
$main-yellow: #fad249;
$cate-btn: #fce38c;
$main-text: #5e5e5e;
$title-text:rgb(190, 174, 146);