$colorBlue: #113f75;
$colorYellow: #fad249;
$colorOrange: #eb8e4c;
$colorWhite: #ffffff;
$colorLightGrey: #eeeeee;
$colorDarkGrey: #4b646a;
$colorMiddleGrey: #747474;
$colorBrown: #986868;
$colorList: #fdfcee;
$colorLightBlue: #91d3f5;
$colorGreen: #21a07d;
$colorPurple: #9786df;
$colorPink: #efc2d9;
$colorLine: #cecece;
$colorBlack: #000000;

@mixin position($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

// ----------------!!start!!------------------
* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  list-style-type: none;
  text-decoration: none;
}
html {
  // filter: invert(1);

  //change 1rem into 10px
  font-size: 62.5%;
}
.j-card-lines {
  cursor:url(./../../svg/green-pointer.svg),pointer;
  height: 11%;
  background-color: $colorList;
  border-top: 2px $colorLine solid;
  border-bottom: 2px $colorLine solid;
  // @media (max-width: 390px){
  //   border-top: 1px $colorLine solid;
  // border-bottom: 1px $colorLine solid;
  // }
}
.j-schedule-card {
  z-index: 50;
  height: 100%;
  display: flex;
  margin: 0 4% 0 4%;
  flex-direction: column;
  justify-content: space-between;
  background-color: $colorWhite;
  border-radius: 6%;
  overflow: hidden;
  @media (max-width: 390px) {
    margin: 0 0 0 -15%;
  }

  .j-schedule-card-head {
    color: $colorWhite;
    background-color: $colorLightBlue;
    display: flex;
    justify-content: space-between;
    @media (max-width: 390px) {
      width: 100px;
    }

    .j-schedule-card-time {
      background-color: $colorLightBlue;
      font-size: 2rem;
      padding: 5px;
      padding-left: 10px;
      font-size: 1.4rem;
      @media (max-width: 390px) {
        font-size: 0.8rem;
        padding: 1px;
        padding-left: 6px;
      }
    }

    .j-schedule-card-heart {
      display: flex;
      align-items: center;
      background-color: $colorLightBlue;
      width: 30px;
      @media (max-width: 390px) {
        display: none;
      }
    }
  }

  .j-schedule-card-name {
    padding: 3px;
    font-weight: 400;
    font-size: 2.2rem;
    text-align: center;
    background-color: $colorWhite;
    color: $colorBlack;
    @media (max-width: 390px) {
      font-size: 1rem;
    }
  }

  .j-schedule-card-hashtag {
    color: $colorWhite;
    text-align: right;
    padding: 4px;
    padding-right: 10px;
    background-color: $colorLightBlue;
    font-size: 1.4rem;
    @media (max-width: 390px) {
      font-size: 0.6rem;
      padding: 1px;
      padding-right: 6px;
    }
  }
}
.j-dark-card {
  transition: .3s;
  height: 100%;
  background-color: $colorWhite;
  opacity: 0.3;
  z-index: 100;
}
