$main-yellow: #fad249;
$main-blue: #2b325c;
$main-text: #5e5e5e;

$btn-red: #ed4743;
$btn-green: #ccde73;
$btn-pink: #ff9696;

$border-lg: $main-blue 3px solid;
$border-sm: $main-blue 2px solid;

$text-shadow: #e4e4e4 2px 2px;
$btn-shadow-lg: 6px 6px $main-blue;
$btn-shadow-sm: 2px 2px $main-blue;
$light-box-shadow: rgba(53, 53, 53, 0.75);

$min-width: 390px;
$min-height: 400px;
$wave-height: 40px;

$font-family: Arial, Helvetica, sans-serif;

$border-radius-card: 10px;
$border-radius-button: 8px;

.y-section-cart-nav {
  width: 100%;
  max-width: 390px;
  position: fixed;
  z-index: 999;
  top: 0;
  height: 50px;
  padding: 0 20px;
  // overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .y-logo-wrap {
    width: 110px;
    // height: 30px;
    background: {
      // color: $main-text;
    }

    .y-svg-wrap {
      a {
        img {
        }
      }
    }
  }

  .y-nav-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .y-icon-round {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      // overflow: hidden;
      border: $border-sm;
      margin-right: 6px;
      background-color: #fff;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .y-cart-icon {
      margin-right: 8px;
      position: relative;

      .y-cart-amount {
        position: absolute;
        width: 20px;
        height: 20px;
        top: -18%;
        left: 55%;
        border-radius: 50%;
        background-color: $btn-red;
        font-size: 10px;
        line-height: 20px;
        text-align: center;
        color: white;
        font-weight: bold;
        letter-spacing: 1px;
      }
      a {
        img {
        }
      }
    }
  }
}

@media (min-width: 391px) {
  .y-section-cart-nav {
    max-width: 1920px;
    height: 90px;
    padding: 0 40px;

    .y-logo-wrap {
      width: 250px;
      height: 60px;
      background: {
        // color: $main-text;
      }

      .y-svg-wrap {
        a {
          img {
          }
        }
      }
    }

    .y-nav-right {
      width: 300px;
      .y-icon-round {
        width: 55px;
        height: 55px;
        border: $border-lg;
        margin-right: 12px;

        img {
          
        }
      }

      .y-cart-icon {
        margin-right: 20px;

        .y-cart-amount {
          width: 30px;
          height: 30px;
          top: -18%;
          left: 55%;
          font-size: 12px;
          line-height: 30px;
        }
        a {
          img {
          }
        }
      }
    }

    .y-member-icon {
      margin-right: 20px;
    }
  }
}
