$main-yellow: #FAD249;
$main-blue: #113F75;
$main-text: #5E5E5E;

$border-lg: $main-blue 3px solid;
$border-sm: $main-blue 2px solid;

$text-shadow: #E4E4E4 2px 2px;
$btn-shadow-lg: 6px 6px $main-blue;
$btn-shadow-sm: 2px 2px $main-blue;
$light-box-shadow: rgba(53, 53, 53, 0.75);

$min-width: 390px;
$min-height: 400px;
$wave-height: 40px;
$progress-width: 66%;

$font-family: Arial, Helvetica, sans-serif;

$border-radius-card: 10px;
$border-radius-button: 8px;

*{
    box-sizing: border-box;
}

.y-CartInfo-container {
    position: relative;
    .y-Cart-nav {
        width: 100%;
        background-color: #fff;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;

        .y-Cart-wave-base {
            width: 100%;
            height: 6px;
            background-color: $main-yellow;
        }
    }

    .y-Cart-top {
        width: 100%;
        margin: 0 auto;
        // padding: 0 20px;
        padding-top: 65px;
        position: relative;

        .y-Cart-page {
            width: 100%;
            padding: 0 30px;
            display: none;

            .y-Cart-icon {
                width: 30px;
                margin-right: 10px;
                img {
                    width: 100%;
                }
            }
            .y-Cart-name {
                font-size: 18px;
                font-weight: bold;
            }
        }

        .y-Cart-status {
            width: 100%;
            // max-width: 300px;
            margin: 0 auto;
            padding: 0 30px;
            background-color: #fff;
            position: fixed;
            z-index: 999;

            .y-progress-wrap{
                width: 100%;
                padding: 10px 12px 6px;
                // overflow: hidden;
                position: relative;

                .y-progress-border {
                    width: 100%;
                    height: 24px;
                    padding: 3px;
                    margin-bottom: 4px;
                    border: $border-sm;
                    border-radius: $border-radius-button;
                    background-color: #fff;
                    display: flex;

                    .y-progress-bar {
                        width: 66%;
                        height: 100%;
                        background-color: $main-blue;
                        // background: linear-gradient(135deg, #fff 50%, $main-blue 50%);
                        // position: relative;
                    }

                    .y-progress-bar::after {
                        // content:'';
                        // position: absolute;
                        // top: 0;
                        // left: 0;
                        // right: 0;
                        // bottom: 0;
                        // background: linear-gradient(135deg, $main-blue, 50%, transparent 50%);
                    }

                    .y-progress-bar, .y-progress-bar::after {
                        // background-size: 300%;
                        // background-position: 100%;
                        // transition: 1s;
                    }

                    .y-progress-bar:hover, .y-progress-bar:hover::after {
                        // background-position: 0;
                    }

                    .y-progress-bar-empty {
                        width: calc(100% - $progress-width);
                        height: 100%;
                        // background-color: #ccc;
                    }

                }
                
                .y-progress-name {
                    width: 100%;
                    // margin-left: auto;
                    display: flex;
                    justify-content: space-between;

                    p {
                        font-size: 12px;
                        // font-weight: bold;
                    }
                }

                .y-progress-icon {
                    position: absolute;
                    top: -1px;
                    left: calc($progress-width + 2px);
                    width: 32px;
                    aspect-ratio: 1/1;
                    transform: scaleX(-1) translateX(50%);

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

    }

    .y-Cart-middle {
        padding: 0 30px;
        padding-top: 75px;
        background-color: #ECECEC; 
        // background-color: #fdefc2;

        li {
            list-style: none;
            font-size: 14px;
            color: $main-text;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1.8;
        }
        

        .y-Cart-sections {
            width: 100%;

            .y-Cart-tab {
                        
            }
    
            .y-Cart-main {
                border: $border-sm;

                .y-Cart-member-info {
                    display: flex;
                    .y-Cart-member-details {

                    }
                    .y-Cart-member-left {

                    }
                    .y-Cart-member-right {

                    }
                }
                .y-Cart-pickup-radio {

                    li {
                        .fa-triangle {
                            font-size: 24px;
                            color: $main-text;
                        }
                        .y-pickup-way-options {
                        

                            input {
                                display: none;
                            }
                        
                        
                    }
                    }
                    
                }
            }
        }

        .y-Cart-coupon {
            .y-Cart-coupon-main {
                display: flex;
                .y-coupon-input {
                    border: $border-sm;
                    border-radius: $border-radius-button;
                    overflow: hidden;
                    background-color: #fff;
                    input {
                        padding: 2px 13px;
                        outline: none;
                        border: none;
                    }
                }
            }
            
        }



        .y-Cart-details {

            .y-empty-cart-wrap {
                display: none;
            }
            
            .y-Cart-tab {
                display: none;
            }

            .y-Cart-details-tab {

            }

            .y-Cart-details-top {
                display: none;
                .y-Cart-details-header {

                }

                .y-Cart-details-name {

                }

                .y-Cart-details-price {

                }

                .y-Cart-details-quantity {

                }

                .y-Cart-details-unit {

                }

                .y-Cart-details-actions {

                }
            }

            .y-Cart-details-area {
                
                .y-Cart-details-row {
                        
                }
            }

            .y-Cart-details-bottom {
                width: 100%;
                background-color: $main-blue;
                .y-Cart-details-total {

                }

                .y-Cart-details-btns {

                    .y-continue-shopping-wrap {

                    }

                    .y-cart-pay-wrap {

                    }
                }
            }
        }

        .y-Cart-rec {
            .y-Cart-rec-tab {
                
            }

            .y-Cart-rec-top {
                .y-Cart-rec-header {
                    
                }
            }

            .y-Cart-rec-bottom {

                .y-Cart-rec-row {

                    .y-Cart-rec-wrap {

                    }
                }
            }
        }
    }

    .y-Cart-bottom{

        // position: fixed;
        // bottom: 0;
        width: 100%;

        .y-Cart-rec{

        }

        .y-Cart-news {

        }

        .y-cart-footer {
            
            height: 60px;
        }
    }
}
@media (min-width:391px) {
    .y-CartInfo-container {
        .y-Cart-nav {
    
            .y-Cart-wave-base {
                height: 45px;
                
            }
        }
    
        .y-Cart-top {
            width: 100%;
            // max-width: 1320px;
            padding: 0 300px;
            padding-top: 105px;
            display: flex;
            justify-content: space-between;
            position: fixed;
            z-index: 998;
            background-color: #fff;

            .y-Cart-page {
                max-width: 320px;
                padding: 0 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                .y-Cart-icon {
                    // display: none;
                    width: 48px;
                    img {
                        width: 100%;
                    }
                }
                .y-Cart-name {
                    font-size: 30px;
                }
            }
    
            .y-Cart-status {
                position: static;
                max-width: 1200px;

                .y-progress-wrap{
                    padding: 20px 0;


                    .y-progress-border {
                        height: 32px;
                        padding: 5px;
                        margin-bottom: 10px;

                        .y-progress-bar {
    
                        }
                        
                        .y-progress-bar::after {
                        
                        }

                        .y-progress-bar, .y-progress-bar::after {

                        }

                        .y-progress-bar:hover, .y-progress-bar:hover::after {

                        }

                        .y-progress-bar-empty {

                        }
                    }

                    .y-progress-name {
                        width: 100%;
                        padding: 0 10px;
                        p{
                            font-size: 18px;
                            font-weight: bold;
                        }
                    }

                    .y-progress-icon{
                        width: 40px;
                        top: 5px;
                        left: calc($progress-width + 5px);
                        img {

                        }
                    }
                }
            }

        }
        
        .y-Cart-middle {
            background-color: #fdefc2;
            // background-color: #ddd;
            padding-top: 215px;
            padding-bottom: 40px;

            // li {
            //     font-size: 18px;
            //     margin-bottom: 10px;
            // }
    
            .y-Cart-sections {
                max-width: 1320px;
                margin: 0 auto 40px;

                .y-Cart-tab {
                    max-width: 190px;
                    padding: 12px 40px;
                    border: $border-lg;
                    border-bottom: none;
                    border-radius: 8px 8px 0 0;
                    background-color: #fff;
                    text-align: center;
                    color: $main-blue;
                    font-weight: bold;
                    letter-spacing: 2px;
                }

                .y-Cart-main {
                    border: $border-lg;
                    .y-Cart-member-info {
                        display: flex;
                        .y-Cart-member-details {
    
                        }
                        .y-Cart-member-left {
    
                        }
                        .y-Cart-member-right {
    
                        }
                    }

                    .y-Cart-pickup-radio {

                        li {
                            .y-pickup-radio-labels {
                                display: block;
                            
                            }
                            input {
                                display: none;
                            }
                        }
                    }
                }
            }
            .y-Cart-coupon {
                .y-Cart-coupon-main {

                    .y-coupon-input {
                        border: $border-lg;
                        input {
                            padding: 4px 20px;
                        
                        }
                    }
                }
                
            }
            .y-Cart-rec {
                .y-Cart-rec-tab {
                    max-width: 190px;
                    padding: 12px 40px;
                    border: $border-lg;
                    border-bottom: none;
                    border-radius: 8px 8px 0 0;
                    background-color: #fff;
                    text-align: center;
                    color: $main-blue;
                    font-weight: bold;
                    letter-spacing: 2px;
                }

                .y-Cart-rec-top {
                    width: 100%;
                    margin-bottom: 30px;
                    
                    .y-Cart-rec-header {
                        background-color: $main-blue;
                        color: #fff;
                        font-weight: bold;
                        font-size: 20px;
                        letter-spacing: 2px;
                        padding: 12px 0;
                        padding-left: 45px;
                        margin-bottom: 20px;
                    }
                }

                .y-Cart-rec-bottom {
                    width: 100%;

                    .y-Cart-rec-row {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        .y-Cart-rec-wrap {
                            width: 25%;
                            padding: 10px 15px;
                        }
                    }
                }
            }
            
            .y-Cart-details {
                position: relative;
                margin-bottom: 80px;

                .y-empty-cart-wrap {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 10px;
                }
                
                .y-Cart-tab {
                    display: block;
                    max-width: 190px;
                    padding: 12px 40px;
                    border: $border-lg;
                    border-bottom: none;
                    border-radius: 8px 8px 0 0;
                    background-color: #fff;
                    text-align: center;
                    color: $main-blue;
                    font-weight: bold;
                    letter-spacing: 2px;
                }
    
                .y-Cart-details-tab {
    
                }
    
                .y-Cart-details-top {
                    display: flex;
                    width: 100%;

                    .y-Cart-details-header {
                        background-color: $main-blue;
                        color: #fff;
                        font-weight: bold;
                        font-size: 20px;
                        letter-spacing: 2px;
                        text-align: center;
                        padding: 12px 0;
                        margin-bottom: 20px;

                    }
    
                    .y-Cart-details-name {
                        width: calc(40% - 3px);
                        border-right: 3px solid #fff;
                    }
    
                    .y-Cart-details-price {
                        width: calc(13% - 3px);
                        border-right: 3px solid #fff;
                    }
    
                    .y-Cart-details-quantity {
                        width: calc(13% - 3px);
                        border-right: 3px solid #fff;
                    }
    
                    .y-Cart-details-unit {
                        width: calc(13% - 3px);
                        border-right: 3px solid #fff;                    }
    
                    .y-Cart-details-actions {
                        width: 21%;
                    }
                }
    
                .y-Cart-details-area {
                    margin-bottom: 40px;

                    .y-Cart-details-row {

                    }
                }

                .y-Cart-details-bottom {
                    border-radius: 0 0 $border-radius-card $border-radius-card;
                    padding: 40px 45px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;

                    .y-Cart-details-total {
                        font-size: 18px;
                        font-weight: bold;
                        color: #fff;
                        margin-right: 5px;
                        margin-bottom: 35px;
                    }
    
                    .y-Cart-details-btns {
                        display: flex;
                        width: 100%;
                        justify-content: flex-end;

                        .y-continue-shopping-wrap {
                            margin-right: 25px;
                        }
    
                        .y-cart-pay-wrap {
                            
                        }
                    }
                }

            }
        
        .y-Cart-bottom{
            position: fixed;
            bottom: 0;
            width: 100%;
    
            .y-Cart-rec{
    
            }
    
            .y-Cart-news {
    
            }
    
            .y-cart-footer {
                
                height: 60px;
            }
        }
    }
}
}