$main-yellow: #FAD249;
$main-blue: #113F75;
$main-text: #5E5E5E;

$btn-red: #ED4743;
$btn-green: #CCDE73;
$btn-pink: #FF9696;

$border-lg: $main-blue 3px solid;
$border-sm: $main-blue 2px solid;
$border-white-lg: #fff 3px solid;
$border-white-sm: #fff 2px solid;


$text-shadow: #E4E4E4 2px 2px;
$btn-shadow-lg: 6px 6px $main-blue;
$btn-shadow-sm: 2px 2px $main-blue;
$light-box-shadow: rgba(53, 53, 53, 0.75);

$min-width: 390px;
$min-height: 400px;
$wave-height: 40px;
$progress-width: 33%;

$font-family: Arial, Helvetica, sans-serif;

$border-radius-card: 10px;
$border-radius-button: 8px;

* {
    box-sizing: border-box;
}
.y-empty-cart-border {
    border-radius: $border-radius-button;
    border: $border-white-sm;
    background-color: $main-blue;
    padding: 2px 16px;
    height: 40px;
    display: none;

    .y-empty-cart-icon {
        width: 20px;
        aspect-ratio: 1/1;

        .fa-trash-can {
        font-size: 18px;
        color: white;  
        }
        // img {
        //     width: 100%;
        //     height: 100%;
        //     object-fit: contain;
        // }  
    }
    
    .y-empty-cart {
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 2px;
    }
}
.y-empty-cart-border:hover {
    background-color: $main-yellow;
    cursor: pointer;

    .y-empty-cart-icon {
        .fa-trash-can {
            color: $main-blue;
        }
    }
}

@media (min-width: 391px) {
    .y-empty-cart-border {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius-card;
        border: $border-white-lg;
        padding: 8px 24px;
        height: 50px;

        .y-empty-cart-icon {
            margin-right: 8px;
            .fa-trash-can {
                font-size: 22px; 
                color: $main-yellow;  
            }
            // img {
                
            // }
        }

        .y-empty-cart {
            font-size: 20px;
        }
    }
}