$main-yellow: #FAD249;
$main-blue: #113F75;
$main-text: #5E5E5E;

$btn-red: #ED4743;
$btn-green: #CCDE73;
$btn-pink: #FF9696;

$border-lg: $main-blue 3px solid;
$border-sm: $main-blue 2px solid;
$border-white-lg: #fff 3px solid;
$border-white-sm: #fff 2px solid;

$text-shadow: #E4E4E4 2px 2px;
$btn-shadow-lg: 6px 6px $main-blue;
$btn-shadow-sm: 2px 2px $main-blue;
$light-box-shadow: rgba(53, 53, 53, 0.75);

$min-width: 390px;
$min-height: 400px;
$wave-height: 40px;
$progress-width: 33%;

$font-family: Arial, Helvetica, sans-serif;

$border-radius-card: 10px;
$border-radius-button: 8px;

*{
    box-sizing: border-box;
}

.y-rec-merch-border {
    border: $border-lg;
    max-width: 295px;

    .y-rec-merch-pic { 
        border-bottom:  $border-lg;
        width: 100%;
        aspect-ratio: 1/1;
        background-color: #ccc;
        img {
            width: 100%;

        }
    }

    .y-rec-merch-info {
        width: 100%;
        padding: 24px 20px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .y-rec-merch-name {
            font-size: 24px;
            letter-spacing: 2px;
            font-weight: bold;
            margin-bottom: 24px;
            flex-grow: 1;
        }
    
        .y-rec-merch-bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;

            .y-rec-merch-price {
                text-decoration: line-through;
                font-size: 20px;
            }
    
            .y-rec-merch-sale {
                font-weight: bold;
                font-size: 22px;
                color: $btn-red;
            }
    
            .y-rec-merch-quantity {
                
                select {
                    background-color: $main-yellow;
                    color: $main-blue;
                    width: 75px;
                    padding: 8px 16px;
                    // padding-right: 8px;
                    position: relative;
                    border: $border-lg;
                    // box-shadow: $btn-shadow-lg;
                    border-radius: $border-radius-button;
                    appearance:none;
                    -moz-appearance:none;
                    -webkit-appearance:none;
                    background: {
                        image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient($main-yellow, $main-yellow);
                        image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E"), -webkit-linear-gradient($main-yellow, $main-yellow);
                        image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E"), -moz-linear-gradient($main-yellow, $main-yellow);
                        position: right 12px top 50%, 0 0;
                        size: contain, cover;
                        repeat: no-repeat, repeat;
    
                    }
                    
                    option {
                        appearance: none;
                        // font-weight: bold;
                    }
                }
            }
    
            .y-rec-merch-cart {
                width: 40px;
                height: 40px;
                background-color: $main-yellow;
                border-radius: $border-radius-button;
                border: $border-lg;

                img {
                    width: 100%;
                    // height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
