* {
    margin: 0;
    box-sizing: border-box;
}

.btn-border {
    padding: 15px;
    width: 150px;
    border: var(--main-blue) 3px solid;
    border-radius: 10px;
    box-shadow: 6px 6px var(--main-blue);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 30px;

}

h2 {
    margin: 0;
    font-size: 24px;
    letter-spacing: 2px;
    margin-right: 10px;
    text-shadow: var(--text-shadow) 2px 2px ;
}
.menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-bars {
    color: var(--main-yellow);
    font-size: 24px;
}