.s_modal_body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  // border: 1px solid red;
  background-color: rgba(83,83,83,75%);

  .modal-dialog {
    border: 1px solid green;
    width: 500px;
    height: 200px;
    background-color: #fff;
    .modal-content {
      border: 3px solid #2B325C;
      height: 100%;
      display: flex;
      flex-direction: column;
      // position: relative;
      .modal-header {
        border-bottom: 3px solid #2B325C;
        height: 51px;
        position: relative;
        // border: 1px solid green;
        h4{
          text-align: center;
          font-size: 24px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          // border: 1px solid green;

        }
        .cross-btn {
          width: 25px;
          height: 100%;
          font-size: 30px;
          font-weight: 900;
          text-align: center;
          color: red;
          padding: 12px;

          position: absolute;
          right: 20px;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;

          // border: 1px solid blue;

        }
      }

      .modal-body {
        // border: 1px solid orange;
        font-size: 18px;
        color: #5E5E5E;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      .modal-footer {
        height: 52px;
        // position: absolute;
        // bottom: 0;
        // border: 1px solid blue;
        height: 62px;
        display: flex;
        justify-content: space-around;


        .modal-btn {
          border: 3px solid #2B325C;
          height: 42px;
          width: 196px;
          font-size: 20px;
          margin: 10px;
          border-radius: 8px;
          color: #ffffff;
          background-color: #DD5555;
          font-weight: 900;

        }

        .modal-btn1 {
          border: 3px solid #2B325C;
          height: 42px;
          width: 196px;
          font-size: 20px;
          margin: 10px;
          border-radius: 8px;
          color: #534E48;
          font-weight: 900;
          // display: none;
          
        }
      }
    }
  }

  @media (max-width: 991px) {

    .modal-dialog { 
      width: 300px;
    }

  }
}