$s-bgcYellow: url(../../../public/05-member/bgc_yellow.jpg);
$s-font-main: #2b325c;
$s-main-b: #113f75;

.s-body-forgotpass {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: $s-bgcYellow center center no-repeat;
  background-size: cover;

  .s-fp-container {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 20px;
    /* background: #ff0; */

    // border: 1px solid orange;

    .s-fp-forgotBx {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 50px;
      transition: 0.5s;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
      transition: 0.5s ease-in-out;

      // border: 1px solid green;

      .s-fp-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .s-fp-h2 {
          font-size: 30px;
          color: $s-font-main;
          margin-bottom: 10px;
          font-weight: 600;
          /* padding: 10px; */
        }

        .s-fp-h3 {
          font-size: 16px;
          color: #5e5e5e;
          margin-bottom: 20px;
          font-weight: 500;
          /* padding: 10px; */
        }

        .s-fp-input {
          width: 100%;
          margin-bottom: 5px;
          padding: 10px;
          outline: none;
          font-size: 16px;
          border: 1px solid #333;
        }

        .s-fp-input::placeholder {
          font-size: 15px;
        }

        .s-fp-forgotSubmit {
          background: $s-main-b;
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
          border: none;
          color: #fff;
          font-weight: 600;
          width: 100%;
          cursor: pointer;
          border-radius: 8px;
        }

        .s-fp-errorMg {
          // border: 1px solid green;
          font-size: 14px;
          margin-bottom: 15px;
          display: flex;
          flex-direction: row;
          justify-content: left;
          width: 100%;
          height: 15px;
        }

        .s-fp-label {
          font-size: 15px;
          width: 100%;
          margin-bottom: 5px;
          font-weight: 600;
        }
      }
    }
  }
}
