@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
$s-bgcYellow: url(../../../public/05-member/bgc_yellow.jpg);
$s-font-main: #2b325c;
$s-main-b: #113f75;

.s-body-resetpass {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: $s-bgcYellow center center no-repeat;
  background-size: cover;

  .s-rp-container {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 20px;
    /* background: #ff0; */

    /* border: 1px solid orange; */

    .s-rp-resetBx {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 50px;
      transition: 0.5s;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
      transition: 0.5s ease-in-out;

      /* border: 1px solid green; */

      .s-rp-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .s-rp-h2 {
          font-size: 30px;
          color: $s-font-main;
          margin-bottom: 20px;
          font-weight: 600;
          /* padding: 10px; */
        }

        .s-rp-label {
          font-size: 15px;
          width: 100%;
          margin-bottom: 5px;
          font-weight: 600;
        }

        .s-rp-input-eye {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          position: relative;

          // border: 1px solid red;

          .s-rp-input {
            width: 100%;
            margin-bottom: 5px;
            padding: 10px;
            outline: none;
            font-size: 16px;
            border: 1px solid #333;
            height: 100%;
            // margin-right: 10px;

            // border: 1px solid green;
          }

          .s-rp-input::placeholder {
            font-size: 15px;
          }

          .s-rp-eye {
            font-size: 15px;
            // margin-left: 10px;
            color: #5c5c5c;
            width: 40px;
            text-align: center;
            position: absolute;
            right: 0;

            // border: 1px solid green;
          }

          @media (max-width: 991px) {
            .s-rp-input::placeholder {
              font-size: 12px;
            }
          }
        }

        .s-rp-input-btn {
          width: 100%;
          margin-bottom: 5px;
          padding: 10px;
          outline: none;
          font-size: 16px;
          border: 1px solid #333;
        }

        .s-rp-resetSubmit {
          background: $s-main-b;
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
          border: none;
          color: #fff;
          font-weight: 600;
          width: 100%;
          cursor: pointer;
          border-radius: 8px;
        }

        .s-rp-errorMg {
          // border: 1px solid green;
          font-size: 14px;
          margin-bottom: 15px;
          display: flex;
          flex-direction: row;
          justify-content: left;
          width: 100%;
          height: 15px;
        }
      }
    }
  }
}
