.s-up {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  // border: 1px solid black;

  .s-up-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 70px;
    position: relative;
    left: 0;

    // border: 1px solid red;
  }

  .s-up-card {
    position: relative;
    width: 100%;
    height: 420px;
    background: linear-gradient(45deg, #ffebbd, #ffd374f4, #faa7ec);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    padding: 15px;

    // border: 1px solid orange;

    .s-up-imgBx {
      position: absolute;
      left: 50%;
      top: -50px;
      transform: translateX(-50%);
      width: 130px;
      height: 130px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
      overflow: hidden;
      transition: 0.5s;

      .s-up-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .s-up-content {
      // position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      // border: 1px solid red;

      .s-up-username {
        font-size: 28px;
        font-weight: 700;
        color: #534e48;
        line-height: 1.2em;
        text-align: center;
        width: 100%;
        padding-top: 70px;
        padding-bottom: 20px;
        // position: absolute;
        // left: 0;

        // border: 1px solid blue;
      }

      .s-up-details {
        padding: 30px 40px;
        text-align: center;
        width: 100%;
        transition: 0.5s;
        background-color: #fff;
        border-radius: 10px;

        // border: 1px solid red;

        .s-up-data {
          display: flex;
          justify-content: space-between;
          margin: 30px 0;

          .s-up-items {
            .s-up-question {
              font-size: 20px;
              color: #555;
              line-height: 1.2em;
              font-weight: 600;
              margin-bottom: 5px;

              // border: 1px solid red;
            }

            .s-up-answer {
              font-size: 18px;
              font-weight: 400;
              opacity: 0.7;
              padding-top: 10px;
            }
          }
        }

        .s-up-actionBtns {
          display: flex;
          justify-content: flex-end;

          .s-up-actionBtn {
            border: none;
            outline: none;
            border-radius: 8px;
            height: 42px;
            width: 196px;
            font-size: 20px;
            font-weight: 500;
            background: #2b325c;
            color: #fff;
            font-weight: 900;
            text-align: center;
            cursor: pointer;
          }
        }
      }
    }
  }

  .s-up-line {
    margin-top: 30px;
    border-top: 2px solid #534e4814;
    width: 100%;
  }

  .s-up-deleteTitle {
    font-size: 24px;
    font-weight: 700;
    margin: 25px 0;
  }

  .s-up-deleteAccount {
    border: none;
    outline: none;
    border-radius: 8px;
    height: 42px;
    width: 196px;
    font-size: 20px;
    font-weight: 500;
    background: #dd5555;
    color: #fff;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
  }
}
