$main-yellow: #fad249;
$main-blue: #2b325c;
$main-text: #5e5e5e;
$text-shadow: #e4e4e4;
$min-width: 390px;
$wave-height: 40px;

.yh-wave-section {
  //position: relative;
  width: 20%;
  height: calc(100vh - 120px);
  // background-color: transparent;
  overflow: hidden;

  .y-wave-base {
    width: 100%;
    height: $wave-height;
    background-color: $main-yellow;
  }
  .y-wave-wrap {
    // position: absolute;
    // top: $wave-height;
    width: 20%;
    height: 100vh;
    background: {
      image: url(../../../public/05-member/wave-1920px.png);
      // repeat: no-repeat;
      position: 50% 0;
      size: 100px 1920px;
    }
    animation: animate 3.5s linear infinite;
    z-index: 100;
    animation-delay: 0.3s;

    @keyframes animate {
      0% {
        background-position-y: 0px;
      }

      100% {
        background-position-y: 1920px;
      }
    }
  }
}
