$main-yellow:#FAD249;
$main-blue:#113F75;
$main-text:#5C5C5C;
$h1:48px;
$h2:36px;
$h3:20px;
$h4:18px;
$p:16px;
*{
    box-sizing: border-box;
}
.p-home{
    position: relative;
    .p-homeCardWrap{
        height: auto;
        display: column;
        columns: 4;
        column-gap: 0;
              
    }
    // .p-homeCardWrap > * {
    //     break-inside: avoid;
    //   }
    .p-homeBar{
        width: 70%;
        background-color: $main-blue;
        display: flex;
        justify-content: space-around;
        position: fixed;
        bottom: 10%;
        left: 15%;
        color: white;
        font-size: $h3;
        h3{
            padding: 20px;
            color: white;
        }


    }
    
}
