$main-yellow:#FAD249;
$main-blue:#113F75;
$main-text:#5C5C5C;
$h1:48px;
$h2:36px;
$h3:20px;
$h4:18px;
$p:16px;
$p-m:10px;
*{
    box-sizing: border-box;
}
.p-comment{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 1040px;
    .p-commMemberAdInput{
        width: 100%;
        display: flex;
    .p-commMember{
        margin-right: 20px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        img{
            width: 100%;
            object-fit: contain;
            overflow: hidden;
        }
    }
    .p-commInput{
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: column;
        input{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        appearance:none;
        -moz-appearance:none;
        background-color:$main-yellow;
        }
        input:focus{
            outline:none;
            }
    }
    .forumMember{
        display: none;
    }
}
    button{
        background-color: $main-blue;
        color: white;
        padding: 10px 15px;
        border-radius: 10px;
        margin-top: 10px;
    }
}