$main-yellow:#FAD249;
$main-blue:#113F75;
$main-text:#5C5C5C;
$h1:48px;
$h2:36px;
$h3:20px;
$h4:18px;
$p:16px;
*{
    box-sizing: border-box;
}
.p-side-bar{
    display: flex;
    height: 100vh;
    width: 200px;
    .p-side-bar-button{
    width: 100%;
    height: 100vh;
    background-color: $main-yellow;
    padding: 100px 0px 0 20px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    .p-buttonWrap{
        display: flex;
        flex-direction: column;
        align-items: center; 
        
     .p-imgWrap{
        width: 50px;
        height: 50px;
        border-radius: 30%;
        background-color:#FFE6B4 ;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0 0 0;
    }
    
     .p-official{
            width: 80%;
            height: 80%;
        }
    
          
    img{
        width: 60%;
        height: 60%;
        
    }
    p{
        color: white;
        margin: 10px 0 0 0;
        font-size: $p;
    }
    .p-activPage{
        width: 75px;
        height: 75px;
        border-radius: 30%;
        background-color:none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0 0 0;
    }
    .p-activImg{
        width: 90%;
        height: 90%;
       object-fit:fill;
    }
    }
.p-btnBook{
            display: none;
        }
    }
    .p-YellowWaveWrap{
        width: 100%;
    }
}
@media (max-width:391px) {
    .p-side-bar{
        display: block;
        align-items:flex-start;
        width: 391px;
        height: 100%;
        .p-side-bar-button{
        display: flex;
        justify-content:space-around;
        align-items: center;
        width: 100%;
        height: 60px;
        padding: 0px;
        background-color: $main-yellow;
        .p-buttonWrap{
            display: flex;
            align-items: center;
             
         .p-imgWrap{
            width: 35px;
            height: 35px;
            border-radius: 30%;
            background-color:#FFE6B4 ;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 ;
            
        }
        .p-official{
                width: 80%;
                height: 80%;
                
            }
     
        img{
            width: 60%;
            height: 60%;
            
        }
        p{
            color: white;
            margin: 10px 0 0 0;
            display: none;
        }
        }
        .p-btnBook{
                display: block;
                
            }
    }
    
    }
    .p-YellowWaveWrap{
        display: none;
    }
}
