$main-yellow:#FAD249;
$main-blue:#113F75;
$main-text:#5C5C5C;
$p-size:16px;
$h3:20px;
*{
    margin: 0;

}
.p-writeButton{
   display: inline-block;
    .p-writText{
    width: 100%;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:$main-yellow;
    border-radius: 15px;
    border: 3px solid $main-blue;
     .p-book{
        width: 50px;
        img{
            width: 100%;
        }
    
    } 
    h3{
        size: $h3;
        color: white;
        margin-left: 10px;
        font-weight: 800;
        }
 }
  
}
