$main-yellow:#FAD249;
$main-blue:#113F75;
$main-text:#5C5C5C;
$h1:48px;
$h3:20px;
$h4:18px;
$p:16px;
$p-m:10px;
*{
    box-sizing: border-box;
}
.p-writeForm{
    display: flex;
    flex-direction: column;
    align-items: center;
form{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    label{
        width: 100%;
        margin-top: 20px; 
     
        textarea{
            width: 100%;
            height: 120px;
            border: 2px solid $main-blue ;
            appearance:none;
            -moz-appearance:none;
            background-color: #d7d7d7;
            resize: none
            }
            textarea:focus{
                outline:none;
                }
        }
        h3{
            font-size: $h3;
            color: $main-blue;
            margin-bottom: 5px;
           }
           input {
            width: 100%;
            height: 50px;
            border: 2px solid $main-blue ;
            appearance:none;
            -moz-appearance:none;
            background-color: #d7d7d7;
            }
            input:focus{
                outline:none;
                }
    .p-WriteTagWrap{
        width: 100%;
        .p-wTag{
            width: 20%;
            margin-right: 20px;
            
        }
    }
    .p-writeImageLab{
            width: 100%;
            height: 520px;
            position: relative;
        .p-writImgBtn{
            width: 100%;
            height: 100%;
            position: relative;
            background-color: #d7d7d7;
            .p-imgPreview{
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top:0px;
                    z-index: 2;
                }
            }
            input{
            width: 100%;
            height: 100%;
            display: none;
            }
            p{
            position:absolute;
            top: 30%;
            right:30%;
            color: #5C5C5C;
            
            }
        }
       
    }
    .p-writeContentLab{
        margin-top: 50px;
    }
    .p-timeAdServing{
            display: flex;
            width: 100%;
       .p-writeTime{
                width: 50%;
                margin-right: 15px;
            }
        .p-writeServing{
                width: 50%;
            }
        }
    .p-instrucAdPortion{
        position: relative;
        width: 100%;
        margin-top: 50px;
        h3{
        font-size: $h3;
        color: $main-blue;
        margin-bottom: 5px;
        }
        .p-instruLabWrap{
        display: flex;
        align-items: flex-end;
        height: 40px;
        margin-top: 20px;
        .p-instrucContent{
            width: 60%;
            margin-right: 15px;
            input{

            }
        }
        .p-portion{
            width: 40%;
        }
        }
        
    }
    .p-InstBtnWrap{
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
        p{
            font-size: $h4;
            color: $main-blue;
        }
        .p-addInstru{
        margin-right: 20px;      
        }

    }
   

    .p-writeStep{
        position: relative;
        width: 100%;
        margin-top: 50px;
        h3{

        }
        .p-stepLabWrap{
            display: flex;
            align-items: flex-end;
            width: 100%;
            height: 260px;
            margin-bottom: 20px;
            .p-stepImg{
                width: 60%;
                height: 100%;
                margin-right: 15px;
                border: 2px solid $main-blue;
                background-color:#d7d7d7;
                position: relative;
                
                .p-stepimgPreview{
                    width: 100%;
                    height: 100%;
                    
                    img{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        object-fit: cover;
                        z-index: 2;
                    }
                }
                input{
                    display: none;
                }
                p{
                    font-size: $p;
                    color: $main-text;
                    position:absolute;
                    top: 30%;
                    right: 48%;
                }
            }
            .p-stepNum{
                width: 80%;
                height: 260px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h3{

                }
                .p-stepContent{
                    height: 200px;
                }
            }
            
            
        }
        .p-stepBtnWrap{
            margin-top: 20px;
            display: flex;
            justify-content: flex-end;
            p{
                font-size: $h4;
                color: $main-blue;
            }
            .p-addStep{
                margin-right: 20px;
            }       
        }
        
    }

    .p-writePS{
        width: 100%;
        margin-top: 50px;
        input{
            width: 100%;
            height: 180px;
        }
    }

    
    .p-sendWritData{
        width: 100px;
        padding: 10px;
        border: 2px solid $main-blue;
        background-color: $main-yellow;
        font-size: $h4;
        color: $main-blue;
        margin-top: 50px;
    }

    }
   .p-writeData{
    width: 100%;
    height: 100px;
    background-color:white;

   }
}