$main-yellow: #fad249;
$main-Blue: #113f75;
$main-text: #5e5e5e;

.r-home-event-container {
  width: 50%;
  margin: 50px auto;
  position: relative;
  .r-home-event-titlebox {
    position: absolute;
    top: 30px;
    left: -30px;
    background-color: rgb(255, 231, 170);
    border-radius:10px;
    width: 30%;
    height: 80px;
    padding-top: 35px;
    // text-align: center;
    .r-home-event-titlebox-p {
      font-size: 30px;
      font-weight: 700;
      text-align: center;
    }
  }
  .r-home-event-main-visual {
    background-color: $main-Blue;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    .r-home-event-article-wrap {
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .r-home-event-article {
        color: #fff;
        font-size: 36px;
        font-weight: 700;
        margin: 0;
        padding: 20px 0;
        line-height: 6rem;
        letter-spacing: .1rem;
      }
      .r-home-event-article-img-div {
        display: flex;
        .r-home-event-article-img-wrap1 {
          width: 80px;
          height: 80px;
          .r-home-event-article-img1 {
            width: 100%;
            transform: rotate(-30deg);
          }
        }
        .r-home-event-article-img-wrap2 {
          width: 80px;
          height: 80px;
          .r-home-event-article-img2 {
            width: 80%;
          }
        }
      }
    }

    .r-home-event-eventlist {
      background-color: #fff;
      width: 70%;
      padding: 10px;
      display: flex;
      .r-home-event-calendar{
        width: 20%;
        height: 100%;
        background-color: #ccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        .r-home-event-calendar-img-wrap{
          text-align: center;
          padding-bottom: 20px;
        }
        .r-home-event-calendar-date{
          background-color: #fff;
          border-radius: 10px;
          width: 80%;
          height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .r-home-event-calendar-date-month{
            text-align: center;
            padding-bottom: 20px;
          }
          .r-home-event-calendar-date-day{
            font-size: 60px;
            line-height: 60px;
            font-weight: 700;
            text-align: center;
          }
        }
      }
      .r-home-event-eventlist-ul {
        width: 80%;
        height: 250px;
        list-style: none;
        padding: 10px;
        // margin-left: auto;
        overflow-y: scroll;
        .r-home-event-eventlist-li {
          display: flex;
          justify-content: space-between;
          border-bottom: 3px dotted rgb(181, 181, 181);
          padding: 10px;
          .r-home-event-eventlist-img-wrap {
            width: 100px;
            height: 100px;
            overflow: hidden;
            border-radius: 8px;
            display: flex;
            // flex-direction: column;
            // justify-content: center;
            align-items: center;
            .r-home-event-eventlist-img {
              width: 100%;
            }
          }
          .r-home-event-eventlist-info {
            width: 50%;
            padding-top: 5px;
            .r-home-event-eventlist-info-cate {
              border: 1px solid #000;
              font-size: 16px;
            }
            .r-home-event-eventlist-info-time {
              margin: 0;
              padding-top: 10px;
              font-size: 16px;
              font-weight: 700;
              letter-spacing: 0.2rem;
            }

            .r-home-event-eventlist-info-name {
              margin: 0;
              padding-top: 10px;
              letter-spacing: 0.1rem;
              font-size: 16px;
              display: flex;
              flex-wrap: wrap;
            }
          }
          .r-home-event-event-list-link-wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .r-home-event-eventlist-li-link {
              text-decoration: none;
              padding: 8px 15px;
              border-radius: 5px;
              background-color: #000;
              color: #fff;
              font-size: 18px;
            }
          }
        }
      }
      .r-home-event-eventlist-ul::-webkit-scrollbar-track {
        box-shadow: none;
        border-radius: 0;
      }
      .r-home-event-eventlist-ul::-webkit-scrollbar-thumb {
        background: $main-text;
        border-radius: 10px;
      }
      .r-home-event-eventlist-ul::-webkit-scrollbar {
        width: 8px;
      }
    }
  }
}
