$outline: 1px solid #ccc;
$main-yellow: #FAD249;
$main-blue: #2B325C;
$main-text: #5E5E5E;

$font-family: Arial, Helvetica, sans-serif;

$text-shadow: #E4E4E4 2px 2px;
$btn-shadow: 6px 6px $main-blue;

$min-width: 390px;
$section-padding: 40px;

*{
    box-sizing: border-box;
}

.y-index-container {
    min-width: $min-width;
    background-color: #fff;
}

.y-index-top {
    width: 100%;
    // height: 500px;
    background-color:
    $main-yellow;
}

.y-section {
    border: 1px solid black;
    width: 100%;
}

.y-section-nav {
    position: fixed;
    z-index: 999;
    top: 0;
    height: 90px;
    padding: 0 $section-padding;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .y-logo-wrap {
        outline: $outline;
        width: 250px;
        height: 60px;
        background: {
            // color: $main-text;
        }
    }

    .y-nav-right {
        outline: $outline;
        display: flex;
        width: 300px;
        justify-content: space-between;
        align-items: center;
        // background-color: #5E5E5E;
        .y-icon-round {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            border: 3px solid $main-blue;
            background: {
                color: white;
            }

            .y-cart-icon {
                margin-right: 20px;
            }
        }
    }
    

}

.y-section-news {
    overflow: hidden;
    height: 20px;
    margin-top: 120px;
    background-color: #FBFBF2;
}
.y-section-carousel {
    height: 300px;
    background-color: $main-yellow;
    // offset-position: 30px 0;
}

.y-section-merch {
    height: 500px;
    background-color: $main-yellow;
}
