// @import './../../styles/global.css';

$main-yellow: #FAD249;
$main-blue: #2B325C;
$main-text: #5E5E5E;
$text-shadow: #E4E4E4;
$min-width: 390px;
$wave-height: 40px;

.y-index-container {
    min-width: $min-width;
}
.y-test {
    color: $main-yellow;
    font-size: 24px;
}