$main-yellow: #FAD249;
$main-blue: #2B325C;
$main-text: #5E5E5E;

$border-lg: $main-blue 3px solid;
$border-sm: $main-blue 2px solid;

$text-shadow: #E4E4E4 2px 2px;
$btn-shadow-lg: 6px 6px $main-blue;
$btn-shadow-sm: 2px 2px $main-blue;
$light-box-shadow: rgba(53, 53, 53, 0.75);

$min-width: 390px;
$min-height: 400px;
$wave-height: 40px;

$font-family: Arial, Helvetica, sans-serif;

$border-radius-card: 10px;
$border-radius-button: 8px;

.y-section-nav {
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    height: 50px;
    padding: 0 20px;
    // overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .y-logo-wrap {
        width: 110px;
        // height: 30px;
        background: {
            // color: $main-text;
        }

        .y-svg-wrap {
            a {
                img {

                }
            }
        }
    }
    
    .y-nav-right {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .y-icon-round {
            width: 30px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            overflow: hidden;
            border: $border-sm;
            margin-right: 6px;
            background-color: #fff;

            img {
                width: 100%;
                object-fit: cover;
            }
            
        }

        .y-cart-icon {
            margin-right: 8px;

            a {

                img {
                    
                }
            }
        }
    }
}

@media (min-width:391px) {
    .y-section-nav {
        height: 90px;
        padding: 0 40px;
    
        .y-logo-wrap {
            width: 250px;
            height: 60px;
            background: {
                // color: $main-text;
            }

            .y-svg-wrap {
                a {
                    img {
                        
                    }
                }
            }
        }
    
        .y-nav-right {
            width: 300px;
            .y-icon-round {
                width: 55px;
                border: $border-lg;
                margin-right: 12px;
                
                img {

                }
                
            }

            .y-cart-icon {
                margin-right: 20px;

                a {

                    img {

                    }
                }
            }
        }
        
    
    }
}