$main-yellow: #FAD249;
$main-blue: #2B325C;
$main-text: #5E5E5E;

$border-lg: $main-blue 3px solid;
$border-sm: $main-blue 2px solid;

$bgc-yellow: #FBFBF2;

$text-shadow: #E4E4E4 2px 2px;
$btn-shadow-lg: 6px 6px $main-blue;
$btn-shadow-sm: 2px 2px $main-blue;
$light-box-shadow: rgba(53, 53, 53, 0.75);

$min-width: 390px;
$min-height: 400px;
$wave-height: 40px;

$font-family: Arial, Helvetica, sans-serif;

$border-radius-card: 10px;
$border-radius-button: 8px;

*{
    box-sizing: border-box;
}

.y-news-crawl-container {
    width: 100%;
    max-width: 390px;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    white-space: nowrap;
    animation: newscrawl 15s linear infinite;

    .y-news-list-wrap {
        height: 24px;
        display: flex;
        // border-top: $border-sm;
        // border-bottom: $border-sm;
        padding: 0 15px;
    
        .y-new-icon-wrap {
            width: 16px;
            height: 16px;
            border: $border-sm;
            border-radius: 50%;
            padding: 1px;

            img {
                width: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }
    
        .y-news-category {
            p {
                font-size: 12px;
                    letter-spacing: 2px;
                    font-weight: bold;
                    color: $main-text;
            }
        }
    
        .y-news-content {
            a {
                // text-decoration: none;
                font-size: 12px;
                letter-spacing: 2px;
                color: $main-text;
                font-weight: bold;
            }
    
        }
    }
}

.y-news-crawl-container:hover {
    animation-play-state: paused;
}


@media (min-width: 391px) {
    .y-news-crawl-container {
        animation: newscrawl 30s linear infinite;

        .y-news-list-wrap {
            align-items: center;
            // border-top: $border-sm;
            // border-bottom: $border-sm;
            padding: 3px 20px;
            
    
            .y-new-icon-wrap {
                width: 24px;
                height: 24px;
                border: $border-sm;
                border-radius: 50%;
                padding: 2px;
    
                img {
                    
                }
            }
            .y-news-category {
                p {
                    font-size: 16px;
                    letter-spacing: 3px;
                }
            }
            .y-news-content {

                a {
                    font-size: 16px;
                    letter-spacing: 3px;
                    font-weight: bold;

                }
    
            }
        }
    }

}

@keyframes newscrawl {
    0% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}