$main-orange: #f57d00;
$main-Blue: #113f75;
$main-yellow: #fad249;
$cate-btn: #fce38c;
$main-text: #5e5e5e;
$title-text: rgb(190, 174, 146);

.r-shop-home-container {
  background: url(./../../../public/03-shop-img/food_cola_s_01.png) 300px 50px/8%
      no-repeat,
    url(./../../../public/03-shop-img/food_ramen_01.png) 1450px 280px/10%
      no-repeat,
    url(./../../../public/03-shop-img/food_pizza_01.png) 920px 30px/7% no-repeat,
    url(./../../../public/03-shop-img/food_french_fries_01.png) 150px 250px/7%
      no-repeat;

  .r-shop-home-main {
    display: flex;
    .r-shop-home-main-inner {
      display: flex;
      align-items: center;
      .r-shop-home-main-text {
        width: 50%;
        margin-left: auto;
        .r-shop-home-main-text-p {
          font-size: 48px;
          line-height: 48px;
          font-weight: 700;
          letter-spacing: 0.2rem;
          line-height: 6rem;
          padding-bottom: 20px;
        }
        .r-shop-home-main-text-span {
          font-size: 24px;
          font-weight: 700;
          letter-spacing: 0.3rem;
          color: $main-text;
          line-height: 36px;
          margin-bottom: 40px;
        }
        .r-shop-home-main-text-btn-gachspon {
          margin-right: 30px;
          color: #fff;
          font-size: 24px;
          line-height: 28px;
          font-weight: 700;
          background: $main-orange;
          border-radius: 30px;
          padding: 10px 40px;
          letter-spacing: 0.3rem;
          outline: 2px solid $main-orange;
          outline-offset: 3px;
        }
        .r-shop-home-main-text-btn-cate {
          color: #fff;
          font-size: 24px;
          line-height: 28px;
          font-weight: 700;
          background: $main-orange;
          border-radius: 30px;
          padding: 10px 40px;
          letter-spacing: 0.3rem;
          outline: 2px solid $main-orange;
          outline-offset: 3px;
        }
      }
    }
    .r-shop-home-main-visual {
      width: 50%;
      height: 50vh;
      background: url('./../../../public/03-shop-img/potato.png') 10% center/50%
        no-repeat;
      margin-top: 50px;
    }
  }
}
.r-shop-home-carousel {
  .r-wave-section {
    width: 100%;
    height: 60px;
    background-color: $main-yellow;
    overflow: hidden;
    .r-wave-wrap {
      top: 40px;
      width: 100%;
      height: 60px;
      background: {
        image: url('./../../../public/03-shop-img/Wave-1920px-white.png');
        position: 50% 0;
        size: 1920px 100px;
      }
      animation: r-shop-yellow-animate 10s linear infinite;
      z-index: 100;
      animation-delay: 0.3s;

      @keyframes r-shop-yellow-animate {
        0% {
          background-position-x: 0px;
        }

        100% {
          background-position-x: 1920px;
        }
      }
    }
  }
  .r-shop-home-carousel-title {
    padding: 60px 0 30px 0;
    background-color: $main-yellow;
    text-align: center;
    .r-shop-home-carousel-h2 {
      font-size: 60px;
      line-height: 60px;
      font-weight: 700;
      letter-spacing: 0.2rem;
      color: #000;
      -webkit-text-stroke: 1px #000;
      background: linear-gradient(
        135deg,
        transparent 35%,
        #000 35%,
        #000 50%,
        transparent 50%,
        transparent 85%,
        #000 85%
      );
      background-size: 4px 4px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .r-shop-home-carousel-check {
    display: flex;
    justify-content: center;
    padding: 30px 0 60px 0;
    background-color: $main-yellow;
    .r-check-wrap {
      // cursor: pointer;
      .r-shop-home-input {
        display: none;
        background-color: transparent;
      }
      .r-shop-home-input:checked + span {
        background-color: $cate-btn;
      }
      .r-shop-home-carousel-check-span {
        cursor: pointer;
        width: 150px;
        height: 50px;
        font-size: 18px;
        font-weight: 700;
        color: $main-text;
        border-radius: 30px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $cate-btn;
        margin-right: 10px;
      }

      .r-check-icon {
        display: inline-block;
        height: 40px;
        img {
          height: 100%;
        }
      }
    }
  }
  .r-shop-slider {
    padding-bottom: 60px;
    background-color: $main-yellow;
    .r-shop-home-slider-inner1 {
      .r-shop-home-slider-inner1-span {
        font-size: 28px;
        font-weight: 700;
        background-color: $cate-btn;
        padding: 10px 10px 10px 60px;
      }
    }
    .r-shop-slider-traintop {
      width: 75%;
      height: 400px;
      display: flex;
      overflow-x: scroll;
      margin: auto;

      .r-shop-slider-img-wrap {
        flex-shrink: 0;
        width: 300px;
        height: 300px;
        overflow: hidden;
        margin: 20px 60px 10px 0;
        position: relative;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.598);
        border: 5px solid #000;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .r-shop-slider-content {
          position: absolute;
          text-align: center;
          letter-spacing: 0.1rem;
          width: 100%;
          height: 150px;
          bottom: -40px;
          display: flex;
          flex-direction: column;
          align-items: center;
          z-index: 10;
          backdrop-filter: blur(15px);
          box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
          border: 1px solid rgba(255, 255, 255, 0.2);
          .r-shop-slider-content-p {
            font-size: 30px;
            font-weight: 700;
            color: #fff;
            line-height: 4rem;
          }
          .r-shop-slider-content-cate {
            .r-shop-slider-content-span {
              display: inline;
              font-size: 20px;
              font-weight: 700;
              color: $cate-btn;
              letter-spacing: 0.5rem;
            }
          }
        }
      }
    }

    .r-shop-slider-traintop::-webkit-scrollbar-track {
      background-color: $main-yellow;
    }

    .r-shop-slider-traintop::-webkit-scrollbar {
      width: 12px;
      height: 20px;
    }

    .r-shop-slider-traintop::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #fea920;
    }
  }
}
@media (max-width: 390px) {
  .r-shop-home-container {
    background: none;
    .r-shop-home-main {
      flex-direction: column-reverse;
      .r-shop-home-main-inner {
        display: block;
        .r-shop-home-main-text {
          width: 100%;
          margin-left: 0;
          text-align: center;
          .r-shop-home-main-text-p {
            font-size: 24px;
            line-height: 36px;
            padding-top: 20px;
          }
          .r-shop-home-main-text-span {
            font-size: 12px;
          }
          .r-shop-home-main-text-btn-gachspon {
            font-size: 14px;
            line-height: 18px;
            padding: 5px 20px;
          }
          .r-shop-home-main-text-btn-cate {
            font-size: 14px;
            line-height: 18px;
            padding: 5px 20px;
          }
        }
      }
      .r-shop-home-main-visual {
        width: 100%;
        background: url('./../../../public/03-shop-img/potato.png') 100% / cover
          no-repeat;
        margin-top: 0;
      }
    }
  }
  .r-shop-home-carousel {
    .r-shop-home-carousel-title {
      padding: 40px;
      .r-shop-home-carousel-h2 {
        font-size: 25px;
        line-height: 25px;
      }
    }
    .r-shop-home-carousel-check {
      display: block;
      text-align: center;
      .r-shop-home-carousel-check-span {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
}
