$main-yellow: #FAD249;
$main-blue: #2B325C;
$main-text: #5E5E5E;

$border-lg: $main-blue 3px solid;
$border-sm: $main-blue 2px solid;

$bgc-yellow: #FBFBF2;

$text-shadow: #E4E4E4 2px 2px;
$btn-shadow-lg: 6px 6px $main-blue;
$btn-shadow-sm: 2px 2px $main-blue;
$light-box-shadow: rgba(53, 53, 53, 0.75);

$min-width: 390px;
$min-height: 400px;
$wave-height: 40px;

$font-family: Arial, Helvetica, sans-serif;

$border-radius-card: 10px;
$border-radius-button: 8px;

*{
    box-sizing: border-box;
}

.y-shop-card-container {
    padding: 10px;
    border-radius: $border-radius-button;
    margin-bottom: 12px;
    
    .y-shop-top {
        margin-bottom: 15px;

        .y-shop-author {
            margin-bottom: 8px;

            .y-shop-author-name {
                font-size: 9px;

            }
            .y-shop-author-account {
                font-size: 9px;

            }
        }

        .y-shop-title {

                p {
                    font-size: 14px;
                    font-weight: bold;
                    color: $main-blue;
                    
                }
            }
        
    }
    
    .y-shop-text {
        width: 100%;
        // height: 100%;
        // max-height: 200px;
        overflow: hidden;
        // background-color: $bgc-yellow;
        margin-bottom: 15px;
        p {
            letter-spacing: 1px;
            line-height: 1.2;
            font-size: 10px;
            text-align: justify;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
        }
    }

    .y-shop-pic {
        width: 100%;

        img {
            width: 100%;
        }
    }
}

.y-shop-card-container:nth-child(2n) {
    border: 2px dashed $main-blue;
}

.y-shop-card-container:nth-child(2n+1) {
    background-color: $main-yellow;
}

@media (min-width: 391px) {
    .y-shop-card-container {
        padding: 20px;
        border-radius: $border-radius-card;
        margin-bottom: 30px;

        .y-shop-top {
            margin-bottom: 20px;
            .y-shop-author {
                display: flex;
                margin-bottom: 5px;
                .y-shop-author-name {
                    font-size: 16px;
                    letter-spacing: 2px;
                }
                .y-shop-account {
                    font-size: 14px;
                    letter-spacing: 2px;
                }
            }

            .y-shop-title {

                p {
                    font-size: 18px;
                    letter-spacing: 2px;
                }
            }
        }
        
        .y-shop-text {
            // max-height: 200px;
            // background-color: $bgc-yellow;
            margin-bottom: 25px;
            
            p {
                letter-spacing: 5px;
                line-height: 1.4;
                font-size: 16px;
                -webkit-line-clamp: 3;
            }
        }

        .y-shop-pic {
            width: 100%;
            img {
                width: 100%;
                
            }
        }
    }
    .y-shop-card-container:nth-child(2n) {
        border: 3px dashed $main-blue;
    }

    .y-shop-card-container:nth-child(2n+1) {
    }
}