$main-yellow: #FAD249;
$main-blue: #2B325C;
$main-text: #5E5E5E;
$text-shadow: #E4E4E4;
$min-width: 390px;
$wave-height: 40px;

.y-wave-section {
    position: relative;
    width: 100%;
    height: 100px;
    // background-color: transparent; 
    overflow: hidden;
    .y-wave-base {
        width: 100%;
        height: $wave-height;
        background-color: $main-yellow;
    }
    .y-wave-wrap {
        position: absolute;
        top: $wave-height;
        width: 100%;
        height: 100px;
        background: {
            image: url(./../images/wave-1920px.png);
            // repeat: no-repeat;
            position: 50% 0;
            size: 1920px 100px;
        }
        animation: animate 3.5s linear infinite;
        z-index: 100;
        animation-delay: 0.3s;
        
        @keyframes animate {
            0% {
                background-position-x: 0px;
            }

            100% {
                background-position-x: 1920px;
            }
        }
    }
}