$colorBlue: #113f75;
$colorYellow: #fad249;
$colorOrange: #eb8e4c;
$colorWhite: #ffffff;
$colorLightGrey: #eeeeee;
$colorDarkGrey: #4b646a;
$colorMiddleGrey: #747474;
$colorBrown: #986868;
$colorList: #fdfcee;
$colorLightBlue: #91d3f5;
$colorGreen: #21a07d;
$colorPurple: #9786df;
$colorPink: #efc2d9;
$colorLine: #cecece;
$colorBlack: #000000;

@mixin position($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

// ----------------!!start!!------------------
* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  list-style-type: none;
  text-decoration: none;
}

html {
  // filter: invert(1);

  //change 1rem into 10px
  font-size: 62.5%;
}

body {
  background-color: $colorWhite;
}

.j-sides {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.j-event-middle-map {
  z-index: 99;
  // outline: 1px black solid;
  @include position(47%, 49%);
  position: fixed;
  @include size(1100px, 900px);
  transform: translate(-50%, -50%);
  animation: moveIn 1s ease-out;
  @keyframes moveIn {
    0% {
      transform: translate(-50%, 130%);
      opacity: 0.5;
    }
    50% {
      transform: translate(-50%, -70%);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }
  @media (max-width: 390px) {
    // outline: 1px black solid;
    @include position(67%, 51%);
    @include size(360px, 844px);
    position: fixed;
  }

  .j-cate-banner {
    @include size(100%, 170px);
    background-color: $colorLightGrey;
    padding: 15px 20px;
    @media (max-width: 390px) {
      @include size(100%, 100px);
      padding: 6px 10px;
    }

    .j-cate-banner-deco {
      @include size(100%, 100%);
      border: solid 4px #ffffff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 50px;
      @media (max-width: 390px) {
        display: flex;
        justify-content: center;
        padding-left: 0;
      }

      div {
        font-size: 7rem;
        font-weight: 900;
        color: $colorDarkGrey;
        letter-spacing: 0.8rem;
        @media (max-width: 390px) {
          font-size: 4rem;
          text-align: center;
        }
      }
    }
  }

  .j-map-wrap {
    @include size(1100px, 750px);
    margin-top: 25px;
    overflow: hidden;
    @media (max-width: 390px) {
      width: 360px;
      height: 260px;
      // outline: red solid 1px;
    }

    .j-map-background {
      position: relative;
      background: url('../img/map.png') no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      background-position: center center;
      @media (max-width: 390px) {
        background: url('../img/mobile-map.png') no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        background-position: center center;
      }

      .j-cloudA {
        z-index: 2;
        position: absolute;
        @include position(8%, 24.5%);
        animation: cloudA 70s linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: both;
        animation-play-state: running;
        @media (max-width: 390px) {
          display: none;
        }
      }

      .j-cloudB {
        z-index: 1;
        position: absolute;
        @include position(9%, 35%);
        animation: cloudB 85s linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: both;
        animation-play-state: running;
        @media (max-width: 390px) {
          display: none;
        }
      }

      .j-cloudC {
        z-index: 3;
        position: absolute;
        @include position(3%, 15%);
        animation: cloudC 55s linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: both;
        animation-play-state: running;
        @media (max-width: 390px) {
          display: none;
        }
      }

      .j-cloudD {
        z-index: 4;
        position: absolute;
        @include position(7%, 9%);
        animation: cloudD 35s linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: both;
        animation-play-state: running;
        @media (max-width: 390px) {
          display: none;
        }
      }
      .j-cloudE {
        z-index: 4;
        position: absolute;
        @include position(4%, 36%);
        animation: cloudE 34s linear;
        // animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: both;
        animation-play-state: running;
        @media (max-width: 390px) {
          display: none;
        }
      }
      .j-cloudF {
        z-index: 4;
        position: absolute;
        @include position(8%, 66%);
        animation: cloudF 37s linear;
        // animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: both;
        animation-play-state: running;
        @media (max-width: 390px) {
          display: none;
        }
      }

      @keyframes cloudA {
        0% {
          transform: translate(-1000px, 5%);
        }
        100% {
          transform: translate(1000px, 5%);
        }
      }

      @keyframes cloudB {
        0% {
          transform: translate(-1100px, 9%);
        }

        100% {
          transform: translate(1100px, 9%);
        }
      }

      @keyframes cloudC {
        0% {
          transform: translate(-600px, 3%);
        }

        100% {
          transform: translate(1100px, 3%);
        }
      }

      @keyframes cloudD {
        0% {
          transform: translate(-600px, 6%);
        }

        100% {
          transform: translate(1100px, 6%);
        }
      }
      @keyframes cloudE {
        0% {
          transform: translate(0, 0);
        }

        100% {
          transform: translate(1200px, 6%);
        }
      }
      @keyframes cloudF {
        0% {
          transform: translate(0, 0);
        }

        100% {
          transform: translate(1200px, 6%);
        }
      }

      .j-show-pink-wrap {
        @include size(300px, 68px);
        @include position(19.7%, 9.3%);
        @media (max-width: 390px) {
          display: none;
        }

        // border: solid black 1px;
        .j-show-pink {
          z-index: 5;
          position: absolute;
          @include size(135px, 68px);
          border-radius: 5px;
          background-color: $colorPink;
          @include position(-1%, 0.5%);
          border: solid black 1px;
          transition: 0.5s;
          display: flex;
          justify-items: left;
          align-items: center;
          direction: rtl;
          position: relative;
          float: right;

          div {
            padding-right: 12px;
            font-weight: 700;
            font-size: 2.5rem;
            // transform: scaleX(1);
            transition: width 0.5s ease-in-out;
            transition: 0.5s;
            opacity: 0;
            transform: 1s;
            margin: 0 0 0 auto;
          }

          img {
            width: 100px;
            transition: 0.5s;
            transform: translateX(50px);
            opacity: 0;
            position: absolute;
            left: -100px;
            margin-bottom: 40px;
          }

          // &:hover {
          //   width: 250px;

          //   div {
          //     opacity: 1;
          //   }

          //   img {
          //     transform: translateX(0);
          //     margin-left: 20px;
          //     margin-bottom: 40px;
          //     opacity: 1;
          //     position: absolute;
          //     left: 0;
          //   }
          // }
        }
        .p-hover {
          width: 250px;

          div {
            opacity: 1;
          }

          img {
            transform: translateX(0);
            margin-left: 20px;
            margin-bottom: 40px;
            opacity: 1;
            position: absolute;
            left: 0;
          }
        }
      }
    }

    .j-ted-blue-wrap {
      @include size(112px, 127px);
      @include position(20.7%, 42.5%);
      transition: 0.5s;
      // border: solid black 1px;
      @media (max-width: 390px) {
        display: none;
      }

      .j-ted-blue {
        position: absolute;
        @include size(105px, 127px);
        border-radius: 5px;
        background-color: $colorLightBlue;
        @include position(0, 0);
        border: solid black 1px;
        transition: width 0.5s ease-in-out;
        transition: height 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          margin-right: 60px;
          width: 80px;
          position: absolute;
          top: -80px;
          opacity: 0;
          transition: 0.5s;
        }

        div {
          font-size: 2.5rem;
          font-weight: 700;
          opacity: 0;
          transition: 0.5s;
          transform: translateX(-100px);
        }

        // &:hover {
        //   width: 150px;
        //   height: 60px;

        //   img {
        //     opacity: 1;
        //   }

        //   div {
        //     opacity: 1;
        //     transform: translateX(0);
        //   }
        // }
      }

      // &:hover {
      //   margin-top: 70px;
      // }

      .b-hover {
        width: 150px;
        height: 60px;

        img {
          opacity: 1;
        }

        div {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
    .b-hover2 {
      margin-top: 70px;
    }

    .j-cook-green-wrap {
      .j-cook-green {
        position: absolute;
        @include size(69px, 69px);
        border-radius: 5px;
        background-color: $colorGreen;
        @include position(30.4%, 66.9%);
        border: solid black 1px;
        transition: width 0.5s ease-in-out;
        @media (max-width: 390px) {
          display: none;
        }

        img {
          width: 80px;
          position: absolute;
          top: -68px;
          left: 10px;
          opacity: 0;
          transition: 0.6s;
          transform: translateY(60px);
        }

        div {
          width: 200px;
          font-size: 2.5rem;
          font-weight: 700;
          text-align: center;
          position: absolute;
          top: 16px;
          left: -20px;
          opacity: 0;
          transform: translateX(-150px);
          transition: 0.7s;
        }

        // &:hover {
        //   width: 150px;

        //   img {
        //     opacity: 1;
        //     transform: translateY(0);
        //   }

        //   div {
        //     opacity: 1;
        //     transform: translateX(-5px);
        //   }
        // }
      }
      .g-hover {
        width: 150px;

        img {
          opacity: 1;
          transform: translateY(0);
        }

        div {
          opacity: 1;
          transform: translateX(-5px);
        }
      }
    }

    .j-music-orange-wrap {
      @include size(190px, 175px);
      @include position(59.6%, 41.8%);
      // outline: solid teal 2px;
      transition: 0.8s;
      @media (max-width: 390px) {
        display: none;
      }

      .j-music-orange {
        position: absolute;
        @include size(190px, 175px);
        border-radius: 5px;
        background-color: $colorOrange;
        @include position(0, 0);
        border: solid black 1px;
        transition: height 0.6s ease-in-out;

        img {
          position: absolute;
          top: -130px;
          left: 25px;
          width: 140px;
          transform: translateY(100px);
          transition: 1s;
          opacity: 0;
        }

        div {
          font-size: 3rem;
          font-weight: 700;
          opacity: 0;
          position: absolute;
          top: 23px;
          left: 35px;
        }

        // &:hover {
        //   height: 90px;

        //   img {
        //     transform: translateY(0);
        //     opacity: 1;
        //   }

        //   div {
        //     opacity: 1;
        //   }
        // }
      }
      .o-hover {
        height: 90px;

        img {
          transform: translateY(0);
          opacity: 1;
        }

        div {
          opacity: 1;
        }
      }

      // &:hover {
      //   transform: translateY(45%);
      // }
    }
    .o-hover2 {
      transform: translateY(45%);
    }

    .j-cyber-purple-wrap {
      @include size(190px, 67px);
      @include position(57.8%, 75.75%);
      // border: solid black 1px;
      @media (max-width: 390px) {
        display: none;
      }

      .j-cyber-purple {
        @include size(91px, 67px);
        border-radius: 5px;
        background-color: $colorPurple;
        margin-left: 60%;
        border: solid black 1px;
        transition: width 0.5s ease-in-out;
        float: right;

        img {
          width: 100px;
          position: absolute;
          top: -75%;
          right: -23%;
          opacity: 0;
          transition: 0.7s;
          transform: scale(0.1);
        }

        div {
          font-size: 2.5rem;
          font-weight: 700;
          position: absolute;
          top: 21%;
          left: 13%;
          transform: translateX(100px);
          transition: 0.8s;
          opacity: 0;
        }

        // &:hover {
        //   width: 190px;

        //   img {
        //     opacity: 1;
        //     transform: scale(1);
        //   }

        //   div {
        //     opacity: 1;
        //     transform: translateX(0);
        //   }
        // }
      }
      .p-hover {
        width: 190px;

        img {
          opacity: 1;
          transform: scale(1);
        }

        div {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
}
