$colorBlue: #113f75;
$colorYellow: #fad249;
$colorOrange: #eb8e4c;
$colorWhite: #ffffff;
$colorLightGrey: #eeeeee;
$colorDarkGrey: #4b646a;
$colorMiddleGrey: #747474;
$colorBrown: #986868;
$colorList: #fdfcee;
$colorLightBlue: #91d3f5;
$colorGreen: #21a07d;
$colorPurple: #9786df;
$colorPink: #efc2d9;
$colorLine: #cecece;

@mixin position($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}
// ----------------!!start!!------------------
* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  list-style-type: none;
  text-decoration: none;
}

html {
  // filter: invert(1);

  //change 1rem into 10px
  font-size: 62.5%;
}

body {
<<<<<<< HEAD
  background-color: $colorWhite;
}
.j-buleBack {
  @include size(100vw, 100vh);
  background-color: $colorBlue;
=======
    background-color: $colorBlue;
>>>>>>> d4bf3ac978280075df3c3de5811d4709a09a4681
}
.j-sides {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
<<<<<<< HEAD
  @media (max-width: 390px) {
    display: none !important;
  }
=======

  .j-left {
    @include size(250px, 100vh);
    background-color: $colorYellow;

    ul {
      @include size(100%, 100%);
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      li {
        div {
          width: 240px;
          font-size: 2.3rem;
          color: $colorWhite;
          position: relative;
          text-align: center;

          &:hover {
            color: $colorBlue;

            &::after {
              content: "";
              background-image: url(../svg/tada.svg);
              position: absolute;
              background-repeat: no-repeat;
              top: -16px;
              left: 12px;
              width: 250px;
              height: 100px;
              padding: 0;
            }
          }
        }
      }
    }
  }

  .j-right {
    @include size(300px, 100vh);
    background-color: $colorYellow;

    ul {
        @include size(100%, 100%);
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        li {
            #right-banner {
                @include size(240px, 70px);
                font-size: 3.5rem;
                font-weight: 900;
                background-color: $colorWhite;
                color: $colorBrown;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0;
                margin-top: 30px;

            }

            div {
                @include size(240px, 4px);
                background-color: $colorWhite;
                border-radius: 4px;
                margin-bottom: 100px;
            }

        }
    }
}
>>>>>>> d4bf3ac978280075df3c3de5811d4709a09a4681
}
.j-middle-group-top {
  @include position(53%, 53%);
  @include size(800px, 500px);
  transform: translate(-50%, -50%);
<<<<<<< HEAD
  @media (max-width: 390px) {
    @include position(45%, 48%);
    @include size(270px, 250px);
    // outline: 2px black solid;
  }
  .j-carrot {
    z-index: 99;
    @include position(-40%, 88%);
    @include size(100px, 200px);
    transform-origin: 50% 50%;
    animation: jump 0.5s linear alternate infinite;
    @keyframes jump {
      0% {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
      }
      40% {
        transform: translate3d(0, 30%, 0) scale3d(0.7, 1.5, 1);
      }
      100% {
        transform: translate3d(0, 100%, 0) scale3d(1.5, 0.7, 1);
      }
    }
    // outline: white 1px solid;
    @media (max-width: 390px) {
      @include position(-20%, 100%);
      @include size(40px, 80px);
    }
    img {
      width: 100%;
      @media (max-width: 390px) {
        width: 100%;
      }
    }
  }
  .j-circle {
    @include position(-7%, -9%);
    @include size(290px, 290px);
    background-color: $colorOrange;
    border-radius: 145px;
    @media (max-width: 390px) {
      @include position(-3%, -9%);
      @include size(130px, 130px);
      border-radius: 65px;
    }
  }
  .j-tilt-circle {
    @include position(25%, 53%);
    @include size(400px, 400px);
    @media (max-width: 390px) {
      @include position(28%, 53%);
      @include size(140px, 100px);
      // outline: WHITE 1px solid ;
    }
    img {
      width: 80%;
      @media (max-width: 390px) {
        width: 100%;
      }
    }
  }
  .j-rectangle {
    @include position(63%, 30%);
    @include size(580px, 78px);
    background-color: $colorOrange;
    @media (max-width: 390px) {
      @include position(60%, 33%);
      @include size(80%, 10%);
    }
  }
  .j-front-word-1 {
    @include position(10%, 4%);
    @media (max-width: 390px) {
      @include position(14%, 7%);
    }
    img {
      width: 85%;
      @media (max-width: 390px) {
        width: 90%;
      }
    }
  }
  .j-front-word-2 {
    @include size(500px, 500px);
    @include position(53%, 41%);
    transform: rotate(-1deg);
    @media (max-width: 390px) {
      @include size(180px, 80px);
      @include position(53%, 45%);
      // outline: WHITE 1px solid ;
    }
    img {
      width: 96%;
      @media (max-width: 390px) {
        width: 100%;
      }
    }
  }
  .j-star1 {
    @include position(63%, -10%);
    @include size(100px, 100px);
    @media (max-width: 390px) {
      @include position(59%, -8%);
    }
    img {
      width: 70%;
      @media (max-width: 390px) {
        width: 25%;
      }
    }
  }
  .j-star2 {
    @include position(63%, 3%);
    @include size(100px, 100px);
    @media (max-width: 390px) {
      @include position(59%, 5%);
    }
    img {
      width: 70%;
      @media (max-width: 390px) {
        width: 25%;
      }
    }
  }
  .j-star3 {
    @include position(63%, 15%);
    @include size(100px, 100px);
    @media (max-width: 390px) {
      @include position(59%, 17%);
    }
    img {
      width: 70%;
      @media (max-width: 390px) {
        width: 25%;
      }
    }
=======
  .j-carrot{
    z-index: 99;
    @include position(-3%, 73%);
    @include size(280px, 280px);
    // outline: white 1px solid;
    img{
        width: 40%;
    }
  }
  .j-circle {
    @include position(-4%, -10%);
    @include size(280px, 280px);
    background-color: $colorOrange;
    border-radius: 140px;
  }
  .j-tilt-circle {
    @include position(25%, 56%);
    @include size(120px, 120px);
    background-color: $colorOrange;
    border-radius: 60px;
    transform: skewX(-65deg);
  }
  .j-rectangle {
    @include position(60%, 26%);
    @include size(500px, 60px);
    background-color: $colorOrange;
  }
  .j-front-word-1 {
    @include position(7%, 0%);
    font-size: 13rem;
    font-weight: 900;
    color: $colorWhite;
    letter-spacing: 1rem;
    text-indent: 1rem;
  }
  .j-front-word-2 {
    @include position(48%, 35%);
    font-size: 7rem;
    font-weight: 900;
    color: $colorWhite;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
    transform: rotate(-4deg);
>>>>>>> d4bf3ac978280075df3c3de5811d4709a09a4681
  }
}
