* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #ffffff;
}

.j-sides {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.j-event-middle-map {
  z-index: 99;
  position: absolute;
  top: 47%;
  left: 49%;
  width: 1100px;
  height: 900px;
  transform: translate(-50%, -50%);
}
.j-event-middle-map .j-cate-banner {
  width: 100%;
  height: 170px;
  background-color: #eeeeee;
  padding: 15px 20px;
}
.j-event-middle-map .j-cate-banner .j-cate-banner-deco {
  width: 100%;
  height: 100%;
  border: solid 4px #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
}
.j-event-middle-map .j-cate-banner .j-cate-banner-deco div {
  font-size: 7rem;
  font-weight: 900;
  color: #4b646a;
  letter-spacing: 0.8rem;
}
.j-event-middle-map .j-map-wrap {
  width: 1100px;
  height: 750px;
  margin-top: 25px;
  overflow: hidden;
}
.j-event-middle-map .j-map-wrap .j-map-background {
  position: relative;
  background: url("../img/map.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center center;
}
.j-event-middle-map .j-map-wrap .j-map-background .j-cloudA {
  z-index: 2;
  position: absolute;
  position: absolute;
  top: 7%;
  left: 24.5%;
  -webkit-animation: cloudA 40s linear;
          animation: cloudA 40s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.j-event-middle-map .j-map-wrap .j-map-background .j-cloudB {
  z-index: 1;
  position: absolute;
  position: absolute;
  top: 9%;
  left: 35%;
  -webkit-animation: cloudB 90s linear;
          animation: cloudB 90s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.j-event-middle-map .j-map-wrap .j-map-background .j-cloudC {
  z-index: 3;
  position: absolute;
  position: absolute;
  top: 3%;
  left: 15%;
  -webkit-animation: cloudC 60s linear;
          animation: cloudC 60s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.j-event-middle-map .j-map-wrap .j-map-background .j-cloudD {
  z-index: 4;
  position: absolute;
  position: absolute;
  top: 8%;
  left: 6%;
  -webkit-animation: cloudD 38s linear;
          animation: cloudD 38s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes cloudA {
  0% {
    transform: translate(-800px, 7%);
  }
  100% {
    transform: translate(1000px, 7%);
  }
}
@keyframes cloudA {
  0% {
    transform: translate(-800px, 7%);
  }
  100% {
    transform: translate(1000px, 7%);
  }
}
@-webkit-keyframes cloudB {
  0% {
    transform: translate(-1100px, 9%);
  }
  100% {
    transform: translate(1100px, 9%);
  }
}
@keyframes cloudB {
  0% {
    transform: translate(-1100px, 9%);
  }
  100% {
    transform: translate(1100px, 9%);
  }
}
@-webkit-keyframes cloudC {
  0% {
    transform: translate(-600px, 3%);
  }
  100% {
    transform: translate(1200px, 3%);
  }
}
@keyframes cloudC {
  0% {
    transform: translate(-600px, 3%);
  }
  100% {
    transform: translate(1200px, 3%);
  }
}
@-webkit-keyframes cloudD {
  0% {
    transform: translate(-300px, 6%);
  }
  100% {
    transform: translate(1400px, 6%);
  }
}
@keyframes cloudD {
  0% {
    transform: translate(-300px, 6%);
  }
  100% {
    transform: translate(1400px, 6%);
  }
}
.j-event-middle-map .j-map-wrap .j-map-background .j-show-pink-wrap {
  width: 300px;
  height: 68px;
  position: absolute;
  top: 19.7%;
  left: 9.3%;
}
.j-event-middle-map .j-map-wrap .j-map-background .j-show-pink-wrap .j-show-pink {
  z-index: 5;
  position: absolute;
  width: 135px;
  height: 68px;
  border-radius: 5px;
  background-color: #efc2d9;
  position: absolute;
  top: -1%;
  left: 0.5%;
  border: solid black 1px;
  transition: 0.5s;
  display: flex;
  justify-items: left;
  align-items: center;
  direction: rtl;
  position: relative;
  float: right;
}
.j-event-middle-map .j-map-wrap .j-map-background .j-show-pink-wrap .j-show-pink div {
  padding-right: 12px;
  font-weight: 700;
  font-size: 2.5rem;
  transition: width 0.5s ease-in-out;
  transition: 0.5s;
  opacity: 0;
  transform: 1s;
  margin: 0 0 0 auto;
}
.j-event-middle-map .j-map-wrap .j-map-background .j-show-pink-wrap .j-show-pink img {
  width: 100px;
  transition: 0.5s;
  transform: translateX(50px);
  opacity: 0;
  position: absolute;
  left: -100px;
  margin-bottom: 40px;
}
.j-event-middle-map .j-map-wrap .j-map-background .j-show-pink-wrap .j-show-pink:hover {
  width: 250px;
}
.j-event-middle-map .j-map-wrap .j-map-background .j-show-pink-wrap .j-show-pink:hover div {
  opacity: 1;
}
.j-event-middle-map .j-map-wrap .j-map-background .j-show-pink-wrap .j-show-pink:hover img {
  transform: translateX(0);
  margin-left: 20px;
  margin-bottom: 40px;
  opacity: 1;
  position: absolute;
  left: 0;
}
.j-event-middle-map .j-map-wrap .j-ted-blue-wrap {
  width: 112px;
  height: 127px;
  position: absolute;
  top: 20.7%;
  left: 42.5%;
  transition: 0.5s;
}
.j-event-middle-map .j-map-wrap .j-ted-blue-wrap .j-ted-blue {
  position: absolute;
  width: 105px;
  height: 127px;
  border-radius: 5px;
  background-color: #91d3f5;
  position: absolute;
  top: 0;
  left: 0;
  border: solid black 1px;
  transition: width 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.j-event-middle-map .j-map-wrap .j-ted-blue-wrap .j-ted-blue img {
  margin-right: 60px;
  width: 80px;
  position: absolute;
  top: -80px;
  opacity: 0;
  transition: 0.5s;
}
.j-event-middle-map .j-map-wrap .j-ted-blue-wrap .j-ted-blue div {
  font-size: 2.5rem;
  font-weight: 700;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(-100px);
}
.j-event-middle-map .j-map-wrap .j-ted-blue-wrap .j-ted-blue:hover {
  width: 150px;
  height: 60px;
}
.j-event-middle-map .j-map-wrap .j-ted-blue-wrap .j-ted-blue:hover img {
  opacity: 1;
}
.j-event-middle-map .j-map-wrap .j-ted-blue-wrap .j-ted-blue:hover div {
  opacity: 1;
  transform: translateX(0);
}
.j-event-middle-map .j-map-wrap .j-ted-blue-wrap:hover {
  margin-top: 70px;
}
.j-event-middle-map .j-map-wrap .j-cook-green-wrap .j-cook-green {
  position: absolute;
  width: 69px;
  height: 69px;
  border-radius: 5px;
  background-color: #21a07d;
  position: absolute;
  top: 30.4%;
  left: 66.9%;
  border: solid black 1px;
  transition: width 0.5s ease-in-out;
}
.j-event-middle-map .j-map-wrap .j-cook-green-wrap .j-cook-green img {
  width: 80px;
  position: absolute;
  top: -68px;
  left: 10px;
  opacity: 0;
  transition: 0.6s;
  transform: translateY(60px);
}
.j-event-middle-map .j-map-wrap .j-cook-green-wrap .j-cook-green div {
  width: 200px;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 16px;
  left: -20px;
  opacity: 0;
  transform: translateX(-150px);
  transition: 0.7s;
}
.j-event-middle-map .j-map-wrap .j-cook-green-wrap .j-cook-green:hover {
  width: 150px;
}
.j-event-middle-map .j-map-wrap .j-cook-green-wrap .j-cook-green:hover img {
  opacity: 1;
  transform: translateY(0);
}
.j-event-middle-map .j-map-wrap .j-cook-green-wrap .j-cook-green:hover div {
  opacity: 1;
  transform: translateX(-5px);
}
.j-event-middle-map .j-map-wrap .j-music-orange-wrap {
  width: 190px;
  height: 175px;
  position: absolute;
  top: 59.6%;
  left: 41.8%;
  transition: 0.8s;
}
.j-event-middle-map .j-map-wrap .j-music-orange-wrap .j-music-orange {
  position: absolute;
  width: 190px;
  height: 175px;
  border-radius: 5px;
  background-color: #eb8e4c;
  position: absolute;
  top: 0;
  left: 0;
  border: solid black 1px;
  transition: height 0.6s ease-in-out;
}
.j-event-middle-map .j-map-wrap .j-music-orange-wrap .j-music-orange img {
  position: absolute;
  top: -130px;
  left: 25px;
  width: 140px;
  transform: translateY(100px);
  transition: 1s;
  opacity: 0;
}
.j-event-middle-map .j-map-wrap .j-music-orange-wrap .j-music-orange div {
  font-size: 3rem;
  font-weight: 700;
  opacity: 0;
  position: absolute;
  top: 23px;
  left: 35px;
}
.j-event-middle-map .j-map-wrap .j-music-orange-wrap .j-music-orange:hover {
  height: 90px;
}
.j-event-middle-map .j-map-wrap .j-music-orange-wrap .j-music-orange:hover img {
  transform: translateY(0);
  opacity: 1;
}
.j-event-middle-map .j-map-wrap .j-music-orange-wrap .j-music-orange:hover div {
  opacity: 1;
}
.j-event-middle-map .j-map-wrap .j-music-orange-wrap:hover {
  transform: translateY(45%);
}
.j-event-middle-map .j-map-wrap .j-cyber-purple-wrap {
  width: 190px;
  height: 67px;
  position: absolute;
  top: 57.8%;
  left: 75.75%;
}
.j-event-middle-map .j-map-wrap .j-cyber-purple-wrap .j-cyber-purple {
  width: 91px;
  height: 67px;
  border-radius: 5px;
  background-color: #9786df;
  margin-left: 60%;
  border: solid black 1px;
  transition: width 0.5s ease-in-out;
  float: right;
}
.j-event-middle-map .j-map-wrap .j-cyber-purple-wrap .j-cyber-purple img {
  width: 100px;
  position: absolute;
  top: -75%;
  right: -23%;
  opacity: 0;
  transition: 0.7s;
  transform: scale(0.1);
}
.j-event-middle-map .j-map-wrap .j-cyber-purple-wrap .j-cyber-purple div {
  font-size: 2.5rem;
  font-weight: 700;
  position: absolute;
  top: 21%;
  left: 13%;
  transform: translateX(100px);
  transition: 0.8s;
  opacity: 0;
}
.j-event-middle-map .j-map-wrap .j-cyber-purple-wrap .j-cyber-purple:hover {
  width: 190px;
}
.j-event-middle-map .j-map-wrap .j-cyber-purple-wrap .j-cyber-purple:hover img {
  opacity: 1;
  transform: scale(1);
}
.j-event-middle-map .j-map-wrap .j-cyber-purple-wrap .j-cyber-purple:hover div {
  opacity: 1;
  transform: translateX(0);
}/*# sourceMappingURL=06-event-04-map.css.map */