$colorBlue: #113f75;
$colorYellow: #fad249;
$colorOrange: #eb8e4c;
$colorWhite: #ffffff;
$colorLightGrey: #eeeeee;
$colorDarkGrey: #4b646a;
$colorMiddleGrey: #747474;
$colorBrown: #986868;
$colorList: #fdfcee;
$colorLightBlue: #91d3f5;
$colorGreen: #21a07d;
$colorPurple: #9786df;
$colorPink: #efc2d9;
$colorLine: #cecece;
$colorBlack: #000000;

@mixin position($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}
@mixin size($width, $height) {
  width: $width;
  height: $height;
}
// ----------------!!start!!------------------
* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  list-style-type: none;
  text-decoration: none;
}
html {
  // filter: invert(1);

  //change 1rem into 10px
  font-size: 62.5%;
}
body {
  background-color: $colorWhite;
}
.j-sides {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.j-event-middle-schedule {
  // outline: 1px black solid;
  @include position(47%, 49%);
  @include size(1100px, 900px);
  transform: translate(-50%, -50%);

  .j-cate-banner {
    @include size(100%, 170px);
    background-color: $colorLightGrey;
    padding: 15px 20px;

    .j-cate-banner-deco {
      @include size(100%, 100%);
      border: solid 4px #ffffff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 50px;

      div {
        font-size: 7rem;
        font-weight: 900;
        color: $colorDarkGrey;
        letter-spacing: 0.8rem;
      }
    }
  }

  .j-event-schedule {
    background-color: $colorWhite;
    margin-top: 30px;

    .j-big-lego {
      @include size(100%, 1500px);
      display: grid;
      background-color: $colorList;
      grid-template-columns: 20px 1fr 1fr 1fr 1fr 1fr 20px;
      grid-template-rows: 30px 110px 30px 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 20px;
      row-gap: 0;
      column-gap: 10px;
      grid-template-areas:
        '. . . . . . .'
        '. stageA stageB stageC stageD stageE .'
        '. . . . . . .'
        'dash1 dash1 dash1 dash1 dash1 dash1 dash1'
        '. cookA . tedA . showA .'
        'dash2 dash2 dash2 dash2 dash2 dash2 dash2'
        '. . musicA . cyberA . .'
        'dash3 dash3 dash3 dash3 dash3 dash3 dash3'
        '. cookB . tedB . showB .'
        'dash4 dash4 dash4 dash4 dash4 dash4 dash4'
        '. . musicB . cyberB . .'
        'dash5 dash5 dash5 dash5 dash5 dash5 dash5'
        '. cookC . tedC . showC .'
        'dash6 dash6 dash6 dash6 dash6 dash6 dash6'
        '. . musicC . cyberC . .'
        'dash7 dash7 dash7 dash7 dash7 dash7 dash7'
        '. cookD . tedD . showD .'
        'dash8 dash8 dash8 dash8 dash8 dash8 dash8'
        '. . musicD . cyberD . .'
        'dash9 dash9 dash9 dash9 dash9 dash9 dash9'
        '. . . . . . .';

      .j-stages-card-1 {
        grid-area: stageA;
        background-color: $colorLightBlue;
        display: flex;
        justify-content: center;
        align-items: center;

        .j-stage-deco {
          height: 88%;
          width: 90%;
          padding: 8px;
          background-color: $colorLightBlue;
          border: 2px solid $colorWhite;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .j-star-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }

          .j-stage-name {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 4rem;
            font-weight: 700;
            color: $colorWhite;
            line-height: 1;
          }

          .j-star-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
      .j-stages-card-2 {
        grid-area: stageB;
        background-color: $colorOrange;
        display: flex;
        justify-content: center;
        align-items: center;

        .j-stage-deco {
          height: 88%;
          width: 90%;
          padding: 8px;
          background-color: $colorOrange;
          border: 2px solid $colorWhite;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .j-star-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }

          .j-stage-name {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 4rem;
            font-weight: 700;
            color: $colorWhite;
            line-height: 1;
          }

          .j-star-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
      .j-stages-card-3 {
        grid-area: stageC;
        background-color: $colorGreen;
        display: flex;
        justify-content: center;
        align-items: center;

        .j-stage-deco {
          height: 88%;
          width: 90%;
          padding: 8px;
          background-color: $colorGreen;
          border: 2px solid $colorWhite;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .j-star-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }

          .j-stage-name {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 4rem;
            font-weight: 700;
            color: $colorWhite;
            line-height: 1;
          }

          .j-star-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
      .j-stages-card-4 {
        grid-area: stageD;
        background-color: $colorPurple;
        display: flex;
        justify-content: center;
        align-items: center;

        .j-stage-deco {
          height: 88%;
          width: 90%;
          padding: 8px;
          background-color: $colorPurple;
          border: 2px solid $colorWhite;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .j-star-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }

          .j-stage-name {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 4rem;
            font-weight: 700;
            color: $colorWhite;
            line-height: 1;
          }

          .j-star-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
      .j-stages-card-5 {
        grid-area: stageE;
        background-color: $colorPink;
        display: flex;
        justify-content: center;
        align-items: center;

        .j-stage-deco {
          height: 88%;
          width: 90%;
          padding: 8px;
          background-color: $colorPink;
          border: 2px solid $colorWhite;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .j-star-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }

          .j-stage-name {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 4rem;
            font-weight: 700;
            color: $colorWhite;
            line-height: 1;
          }

          .j-star-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }

      .j-list-dash-1 {
        grid-area: dash1;
        background-color: $colorLine;
      }

      .j-list-dash-2 {
        grid-area: dash2;
        background-color: $colorLine;
      }

      .j-list-dash-3 {
        grid-area: dash3;
        background-color: $colorLine;
      }

      .j-list-dash-4 {
        grid-area: dash4;
        background-color: $colorLine;
      }

      .j-list-dash-5 {
        grid-area: dash5;
        background-color: $colorLine;
      }

      .j-list-dash-6 {
        grid-area: dash6;
        background-color: $colorLine;
      }

      .j-list-dash-7 {
        grid-area: dash7;
        background-color: $colorLine;
      }

      .j-list-dash-8 {
        grid-area: dash8;
        background-color: $colorLine;
      }

      .j-list-dash-9 {
        grid-area: dash9;
        background-color: $colorLine;
      }

      .j-cookA {
        grid-area: cookA;
        background-color: $colorWhite;
        border-radius: 8px;
        overflow: hidden;

        .j-schedule-card {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: $colorWhite;

          .j-schedule-card-head {
            color: $colorWhite;
            background-color: $colorLightBlue;
            display: flex;
            justify-content: space-between;

            .j-schedule-card-time {
              background-color: $colorLightBlue;
              font-size: 1.3rem;
              padding: 5px;
              padding-left: 10px;
              font-size: 1.4rem;
            }

            .j-schedule-card-heart {
              display: flex;
              align-items: center;
              background-color: $colorLightBlue;
              width: 30px;
            }
          }

          .j-schedule-card-name {
            font-weight: 400;
            font-size: 2.2rem;
            text-align: center;
            background-color: $colorWhite;
            color: $colorBlack;
          }

          .j-schedule-card-hashtag {
            color: $colorWhite;
            text-align: right;
            padding: 5px;
            padding-right: 10px;
            background-color: $colorLightBlue;
            font-size: 1.4rem;
          }
        }
      }

      .j-cookB {
        grid-area: cookB;
        background-color: $colorWhite;
        border-radius: 8px;
        overflow: hidden;

        .j-schedule-card {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: $colorWhite;

          .j-schedule-card-head {
            color: $colorWhite;
            background-color: $colorLightBlue;
            display: flex;
            justify-content: space-between;

            .j-schedule-card-time {
              background-color: $colorLightBlue;
              font-size: 1.3rem;
              padding: 5px;
              padding-left: 10px;
              font-size: 1.4rem;
            }

            .j-schedule-card-heart {
              display: flex;
              align-items: center;
              background-color: $colorLightBlue;
              width: 30px;
            }
          }

          .j-schedule-card-name {
            font-weight: 400;
            font-size: 2.2rem;
            text-align: center;
            background-color: $colorWhite;
            color: $colorBlack;
          }

          .j-schedule-card-hashtag {
            color: $colorWhite;
            text-align: right;
            padding: 5px;
            padding-right: 10px;
            background-color: $colorLightBlue;
            font-size: 1.4rem;
          }
        }
      }
      .j-cookC {
        grid-area: cookC;
        background-color: $colorWhite;
        border-radius: 8px;
        overflow: hidden;

        .j-schedule-card {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: $colorWhite;

          .j-schedule-card-head {
            color: $colorWhite;
            background-color: $colorLightBlue;
            display: flex;
            justify-content: space-between;

            .j-schedule-card-time {
              background-color: $colorLightBlue;
              font-size: 1.3rem;
              padding: 5px;
              padding-left: 10px;
              font-size: 1.4rem;
            }

            .j-schedule-card-heart {
              display: flex;
              align-items: center;
              background-color: $colorLightBlue;
              width: 30px;
            }
          }

          .j-schedule-card-name {
            font-weight: 400;
            font-size: 2.2rem;
            text-align: center;
            background-color: $colorWhite;
            color: $colorBlack;
          }

          .j-schedule-card-hashtag {
            color: $colorWhite;
            text-align: right;
            padding: 5px;
            padding-right: 10px;
            background-color: $colorLightBlue;
            font-size: 1.4rem;
          }
        }
      }
      .j-cookD {
        grid-area: cookD;
        background-color: $colorWhite;
        border-radius: 8px;
        overflow: hidden;

        .j-schedule-card {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: $colorWhite;

          .j-schedule-card-head {
            color: $colorWhite;
            background-color: $colorLightBlue;
            display: flex;
            justify-content: space-between;

            .j-schedule-card-time {
              background-color: $colorLightBlue;
              font-size: 1.3rem;
              padding: 5px;
              padding-left: 10px;
              font-size: 1.4rem;
            }

            .j-schedule-card-heart {
              display: flex;
              align-items: center;
              background-color: $colorLightBlue;
              width: 30px;
            }
          }

          .j-schedule-card-name {
            font-weight: 400;
            font-size: 2.2rem;
            text-align: center;
            background-color: $colorWhite;
            color: $colorBlack;
          }

          .j-schedule-card-hashtag {
            color: $colorWhite;
            text-align: right;
            padding: 5px;
            padding-right: 10px;
            background-color: $colorLightBlue;
            font-size: 1.4rem;
          }
        }
      }

      .j-musicA {
        grid-area: musicA;
        background-color: $colorWhite;
        border-radius: 8px;
        overflow: hidden;

        .j-schedule-card {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: $colorWhite;

          .j-schedule-card-head {
            color: $colorWhite;
            background-color: $colorOrange;
            display: flex;
            justify-content: space-between;

            .j-schedule-card-time {
              background-color: $colorOrange;
              font-size: 1.3rem;
              padding: 5px;
              padding-left: 10px;
              font-size: 1.4rem;
            }

            .j-schedule-card-heart {
              display: flex;
              align-items: center;
              background-color: $colorOrange;
              width: 30px;
            }
          }

          .j-schedule-card-name {
            font-weight: 400;
            font-size: 2.2rem;
            text-align: center;
            background-color: $colorWhite;
            color: black;
          }

          .j-schedule-card-hashtag {
            color: $colorWhite;
            text-align: right;
            padding: 5px;
            padding-right: 10px;
            background-color: $colorOrange;
            font-size: 1.4rem;
          }
        }
      }
      .j-musicB {
        grid-area: musicB;
        background-color: $colorWhite;
        border-radius: 8px;
        overflow: hidden;

        .j-schedule-card {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: $colorWhite;

          .j-schedule-card-head {
            color: $colorWhite;
            background-color: $colorOrange;
            display: flex;
            justify-content: space-between;

            .j-schedule-card-time {
              background-color: $colorOrange;
              font-size: 1.3rem;
              padding: 5px;
              padding-left: 10px;
              font-size: 1.4rem;
            }

            .j-schedule-card-heart {
              display: flex;
              align-items: center;
              background-color: $colorOrange;
              width: 30px;
            }
          }

          .j-schedule-card-name {
            font-weight: 400;
            font-size: 2.2rem;
            text-align: center;
            background-color: $colorWhite;
            color: black;
          }

          .j-schedule-card-hashtag {
            color: $colorWhite;
            text-align: right;
            padding: 5px;
            padding-right: 10px;
            background-color: $colorOrange;
            font-size: 1.4rem;
          }
        }
      }
      .j-musicC {
        grid-area: musicC;
        background-color: $colorWhite;
        border-radius: 8px;
        overflow: hidden;

        .j-schedule-card {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: $colorWhite;

          .j-schedule-card-head {
            color: $colorWhite;
            background-color: $colorOrange;
            display: flex;
            justify-content: space-between;

            .j-schedule-card-time {
              background-color: $colorOrange;
              font-size: 1.3rem;
              padding: 5px;
              padding-left: 10px;
              font-size: 1.4rem;
            }

            .j-schedule-card-heart {
              display: flex;
              align-items: center;
              background-color: $colorOrange;
              width: 30px;
            }
          }

          .j-schedule-card-name {
            font-weight: 400;
            font-size: 2.2rem;
            text-align: center;
            background-color: $colorWhite;
            color: black;
          }

          .j-schedule-card-hashtag {
            color: $colorWhite;
            text-align: right;
            padding: 5px;
            padding-right: 10px;
            background-color: $colorOrange;
            font-size: 1.4rem;
          }
        }
      }
      .j-musicD {
        grid-area: musicD;
        background-color: $colorWhite;
        border-radius: 8px;
        overflow: hidden;

        .j-schedule-card {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: $colorWhite;

          .j-schedule-card-head {
            color: $colorWhite;
            background-color: $colorOrange;
            display: flex;
            justify-content: space-between;

            .j-schedule-card-time {
              background-color: $colorOrange;
              font-size: 1.3rem;
              padding: 5px;
              padding-left: 10px;
              font-size: 1.4rem;
            }

            .j-schedule-card-heart {
              display: flex;
              align-items: center;
              background-color: $colorOrange;
              width: 30px;
            }
          }

          .j-schedule-card-name {
            font-weight: 400;
            font-size: 2.2rem;
            text-align: center;
            background-color: $colorWhite;
            color: black;
          }

          .j-schedule-card-hashtag {
            color: $colorWhite;
            text-align: right;
            padding: 5px;
            padding-right: 10px;
            background-color: $colorOrange;
            font-size: 1.4rem;
          }
        }
      }
      .j-tedA {
        grid-area: tedA;
        background-color: $colorWhite;
        border-radius: 8px;
        overflow: hidden;

        .j-schedule-card {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: $colorWhite;

          .j-schedule-card-head {
            color: $colorWhite;
            background-color: $colorGreen;
            display: flex;
            justify-content: space-between;

            .j-schedule-card-time {
              font-size: 1.3rem;
              padding: 5px;
              padding-left: 10px;
              font-size: 1.4rem;
            }

            .j-schedule-card-heart {
              display: flex;
              align-items: center;
              width: 30px;
            }
          }

          .j-schedule-card-name {
            font-weight: 400;
            font-size: 2.2rem;
            text-align: center;
            background-color: $colorWhite;
            color: black;
          }

          .j-schedule-card-hashtag {
            color: $colorWhite;
            text-align: right;
            padding: 5px;
            padding-right: 10px;
            background-color: $colorGreen;
            font-size: 1.4rem;
          }
        }
      }
      .j-tedB {
        grid-area: tedB;
        background-color: $colorWhite;
        border-radius: 8px;
        overflow: hidden;

        .j-schedule-card {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: $colorWhite;

          .j-schedule-card-head {
            color: $colorWhite;
            background-color: $colorGreen;
            display: flex;
            justify-content: space-between;

            .j-schedule-card-time {
              font-size: 1.3rem;
              padding: 5px;
              padding-left: 10px;
              font-size: 1.4rem;
            }

            .j-schedule-card-heart {
              display: flex;
              align-items: center;
              width: 30px;
            }
          }

          .j-schedule-card-name {
            font-weight: 400;
            font-size: 2.2rem;
            text-align: center;
            background-color: $colorWhite;
            color: black;
          }

          .j-schedule-card-hashtag {
            color: $colorWhite;
            text-align: right;
            padding: 5px;
            padding-right: 10px;
            background-color: $colorGreen;
            font-size: 1.4rem;
          }
        }
      }
      .j-tedC {
        grid-area: tedC;
        background-color: $colorWhite;
        border-radius: 8px;
        overflow: hidden;

        .j-schedule-card {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: $colorWhite;

          .j-schedule-card-head {
            color: $colorWhite;
            background-color: $colorGreen;
            display: flex;
            justify-content: space-between;

            .j-schedule-card-time {
              font-size: 1.3rem;
              padding: 5px;
              padding-left: 10px;
              font-size: 1.4rem;
            }

            .j-schedule-card-heart {
              display: flex;
              align-items: center;
              width: 30px;
            }
          }

          .j-schedule-card-name {
            font-weight: 400;
            font-size: 2.2rem;
            text-align: center;
            background-color: $colorWhite;
            color: black;
          }

          .j-schedule-card-hashtag {
            color: $colorWhite;
            text-align: right;
            padding: 5px;
            padding-right: 10px;
            background-color: $colorGreen;
            font-size: 1.4rem;
          }
        }
      }
      .j-tedD {
        grid-area: tedD;
        background-color: $colorWhite;
        border-radius: 8px;
        overflow: hidden;

        .j-schedule-card {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: $colorWhite;

          .j-schedule-card-head {
            color: $colorWhite;
            background-color: $colorGreen;
            display: flex;
            justify-content: space-between;

            .j-schedule-card-time {
              font-size: 1.3rem;
              padding: 5px;
              padding-left: 10px;
              font-size: 1.4rem;
            }

            .j-schedule-card-heart {
              display: flex;
              align-items: center;
              width: 30px;
            }
          }

          .j-schedule-card-name {
            font-weight: 400;
            font-size: 2.2rem;
            text-align: center;
            background-color: $colorWhite;
            color: black;
          }

          .j-schedule-card-hashtag {
            color: $colorWhite;
            text-align: right;
            padding: 5px;
            padding-right: 10px;
            background-color: $colorGreen;
            font-size: 1.4rem;
          }
        }
      }
      .j-cyberA {
        grid-area: cyberA;
        background-color: $colorWhite;
        border-radius: 8px;
        overflow: hidden;

        .j-schedule-card {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: $colorWhite;

          .j-schedule-card-head {
            color: $colorWhite;
            background-color: $colorPurple;
            display: flex;
            justify-content: space-between;

            .j-schedule-card-time {
              font-size: 1.3rem;
              padding: 5px;
              padding-left: 10px;
              font-size: 1.4rem;
            }

            .j-schedule-card-heart {
              display: flex;
              align-items: center;
              width: 30px;
            }
          }

          .j-schedule-card-name {
            font-weight: 400;
            font-size: 2.2rem;
            text-align: center;
            background-color: $colorWhite;
            color: black;
          }

          .j-schedule-card-hashtag {
            color: $colorWhite;
            text-align: right;
            padding: 5px;
            padding-right: 10px;
            background-color: $colorPurple;
            font-size: 1.4rem;
          }
        }
      }
      .j-cyberB {
        grid-area: cyberB;
        background-color: $colorWhite;
        border-radius: 8px;
        overflow: hidden;

        .j-schedule-card {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: $colorWhite;

          .j-schedule-card-head {
            color: $colorWhite;
            background-color: $colorPurple;
            display: flex;
            justify-content: space-between;

            .j-schedule-card-time {
              font-size: 1.3rem;
              padding: 5px;
              padding-left: 10px;
              font-size: 1.4rem;
            }

            .j-schedule-card-heart {
              display: flex;
              align-items: center;
              width: 30px;
            }
          }

          .j-schedule-card-name {
            font-weight: 400;
            font-size: 2.2rem;
            text-align: center;
            background-color: $colorWhite;
            color: black;
          }

          .j-schedule-card-hashtag {
            color: $colorWhite;
            text-align: right;
            padding: 5px;
            padding-right: 10px;
            background-color: $colorPurple;
            font-size: 1.4rem;
          }
        }
      }
      .j-cyberC {
        grid-area: cyberC;
        background-color: $colorWhite;
        border-radius: 8px;
        overflow: hidden;

        .j-schedule-card {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: $colorWhite;

          .j-schedule-card-head {
            color: $colorWhite;
            background-color: $colorPurple;
            display: flex;
            justify-content: space-between;

            .j-schedule-card-time {
              font-size: 1.3rem;
              padding: 5px;
              padding-left: 10px;
              font-size: 1.4rem;
            }

            .j-schedule-card-heart {
              display: flex;
              align-items: center;
              width: 30px;
            }
          }

          .j-schedule-card-name {
            font-weight: 400;
            font-size: 2.2rem;
            text-align: center;
            background-color: $colorWhite;
            color: black;
          }

          .j-schedule-card-hashtag {
            color: $colorWhite;
            text-align: right;
            padding: 5px;
            padding-right: 10px;
            background-color: $colorPurple;
            font-size: 1.4rem;
          }
        }
      }
      .j-cyberD {
        grid-area: cyberD;
        background-color: $colorWhite;
        border-radius: 8px;
        overflow: hidden;

        .j-schedule-card {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: $colorWhite;

          .j-schedule-card-head {
            color: $colorWhite;
            background-color: $colorPurple;
            display: flex;
            justify-content: space-between;

            .j-schedule-card-time {
              font-size: 1.3rem;
              padding: 5px;
              padding-left: 10px;
              font-size: 1.4rem;
            }

            .j-schedule-card-heart {
              display: flex;
              align-items: center;
              width: 30px;
            }
          }

          .j-schedule-card-name {
            font-weight: 400;
            font-size: 2.2rem;
            text-align: center;
            background-color: $colorWhite;
            color: black;
          }

          .j-schedule-card-hashtag {
            color: $colorWhite;
            text-align: right;
            padding: 5px;
            padding-right: 10px;
            background-color: $colorPurple;
            font-size: 1.4rem;
          }
        }
      }
      .j-showA {
        grid-area: showA;
        background-color: $colorWhite;
        border-radius: 8px;
        overflow: hidden;

        .j-schedule-card {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: $colorWhite;

          .j-schedule-card-head {
            color: $colorWhite;
            background-color: $colorPink;
            display: flex;
            justify-content: space-between;

            .j-schedule-card-time {
              font-size: 1.3rem;
              padding: 5px;
              padding-left: 10px;
              font-size: 1.4rem;
            }

            .j-schedule-card-heart {
              display: flex;
              align-items: center;
              width: 30px;
            }
          }

          .j-schedule-card-name {
            font-weight: 400;
            font-size: 2.2rem;
            text-align: center;
            background-color: $colorWhite;
            color: black;
          }

          .j-schedule-card-hashtag {
            color: $colorWhite;
            text-align: right;
            padding: 5px;
            padding-right: 10px;
            background-color: $colorPink;
            font-size: 1.4rem;
          }
        }
      }
      .j-showB {
        grid-area: showB;
        background-color: $colorWhite;
        border-radius: 8px;
        overflow: hidden;

        .j-schedule-card {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: $colorWhite;

          .j-schedule-card-head {
            color: $colorWhite;
            background-color: $colorPink;
            display: flex;
            justify-content: space-between;

            .j-schedule-card-time {
              font-size: 1.3rem;
              padding: 5px;
              padding-left: 10px;
              font-size: 1.4rem;
            }

            .j-schedule-card-heart {
              display: flex;
              align-items: center;
              width: 30px;
            }
          }

          .j-schedule-card-name {
            font-weight: 400;
            font-size: 2.2rem;
            text-align: center;
            background-color: $colorWhite;
            color: black;
          }

          .j-schedule-card-hashtag {
            color: $colorWhite;
            text-align: right;
            padding: 5px;
            padding-right: 10px;
            background-color: $colorPink;
            font-size: 1.4rem;
          }
        }
      }
      .j-showC {
        grid-area: showC;
        background-color: $colorWhite;
        border-radius: 8px;
        overflow: hidden;

        .j-schedule-card {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: $colorWhite;

          .j-schedule-card-head {
            color: $colorWhite;
            background-color: $colorPink;
            display: flex;
            justify-content: space-between;

            .j-schedule-card-time {
              font-size: 1.3rem;
              padding: 5px;
              padding-left: 10px;
              font-size: 1.4rem;
            }

            .j-schedule-card-heart {
              display: flex;
              align-items: center;
              width: 30px;
            }
          }

          .j-schedule-card-name {
            font-weight: 400;
            font-size: 2.2rem;
            text-align: center;
            background-color: $colorWhite;
            color: black;
          }

          .j-schedule-card-hashtag {
            color: $colorWhite;
            text-align: right;
            padding: 5px;
            padding-right: 10px;
            background-color: $colorPink;
            font-size: 1.4rem;
          }
        }
      }
      .j-showD {
        grid-area: showD;
        background-color: $colorWhite;
        border-radius: 8px;
        overflow: hidden;

        .j-schedule-card {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: $colorWhite;

          .j-schedule-card-head {
            color: $colorWhite;
            background-color: $colorPink;
            display: flex;
            justify-content: space-between;

            .j-schedule-card-time {
              font-size: 1.3rem;
              padding: 5px;
              padding-left: 10px;
              font-size: 1.4rem;
            }

            .j-schedule-card-heart {
              display: flex;
              align-items: center;
              width: 30px;
            }
          }

          .j-schedule-card-name {
            font-weight: 400;
            font-size: 2.2rem;
            text-align: center;
            background-color: $colorWhite;
            color: black;
          }

          .j-schedule-card-hashtag {
            color: $colorWhite;
            text-align: right;
            padding: 5px;
            padding-right: 10px;
            background-color: $colorPink;
            font-size: 1.4rem;
          }
        }
      }

      .card-text {
        grid-area: text;
        border-radius: 15px;
        padding: 10px 25px;
        font-size: 1.8rem;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 3rem;
        background-color: $colorMiddleGrey;
        color: $colorWhite;
      }

      .card-sold {
        grid-area: sold;
        border-radius: 15px;
        padding: 13px;
        font-size: 4rem;
        font-weight: 900;
        text-align: center;
        color: $colorMiddleGrey;
      }

      div {
        background-color: $colorLightGrey;
      }
    }
  }
}
