main {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  letter-spacing: 2px;
}

.a-productDetailWrapper .a-productName h3, .a-productDetailWrapper .a-shopNameWrapper h3 {
  font-size: 20px;
  color: #2B325C;
  font-weight: 500;
}

.a-productDetailWrapper .a-priceContent .a-addButton, .a-productDetailWrapper .a-priceContent .a-quantity, .a-productDetailWrapper .a-priceContent .a-productQuantity, .a-productDetailWrapper .a-priceContent .a-productDiscount, .a-productDetailWrapper .a-priceContent .a-productPrice, .a-productDetailWrapper .a-priceContent, .a-productDetailWrapper .a-productCollection, .a-productDetailWrapper .a-shopDeadline, .a-productDetailWrapper .a-productCategory, .a-productDetailWrapper .a-productName, .a-productDetailWrapper .a-shopNameWrapper, .a-productDetailWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-productDetailWrapper {
  background-color: #fff;
}
.a-productDetailWrapper .a-detailWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.a-productDetailWrapper .a-shopNameWrapper img {
  width: 40px;
}
.a-productDetailWrapper .a-productName img {
  width: 35px;
}
.a-productDetailWrapper .a-informationWrapper {
  display: flex;
  align-items: center;
}
.a-productDetailWrapper .a-productCategory {
  color: #2B325C;
  background-color: #FEF3DA;
  width: 115px;
  border-radius: 8px;
  padding: 3px;
  margin: 5px;
  font-weight: 400;
}
.a-productDetailWrapper .a-productCategory img {
  width: 30px;
  padding-right: 3px;
}
.a-productDetailWrapper .a-shopDeadline {
  color: #2B325C;
  background-color: #FEF3DA;
  width: 160px;
  height: 40px;
  margin: 10px 0;
  border-radius: 8px;
  font-weight: 400;
}
.a-productDetailWrapper .a-shopDeadline img {
  width: 30px;
  padding-right: 3px;
}
.a-productDetailWrapper .a-productCollection {
  color: #2B325C;
  background-color: #FEF3DA;
  width: 160px;
  height: 40px;
  border-radius: 8px;
}
.a-productDetailWrapper .a-productCollection img {
  width: 30px;
  padding-right: 5px;
}
.a-productDetailWrapper .a-productDescription {
  width: 600px;
}
.a-productDetailWrapper .a-productDescription p {
  color: #5E5E5E;
}
.a-productDetailWrapper .a-priceContent {
  flex-direction: column;
  background-color: #FEF3DA;
  width: 390px;
  border-radius: 8px;
  padding: 30px 0 10px 0;
}
.a-productDetailWrapper .a-priceContent .a-priceWrapper {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 0 0 8px 0;
}
.a-productDetailWrapper .a-priceContent .a-productPrice {
  color: #5E5E5E;
  line-height: 20px;
  padding-right: 12px;
  text-decoration: line-through;
}
.a-productDetailWrapper .a-priceContent .a-productDiscount {
  color: #113F75;
  line-height: 20px;
  font-weight: 500;
}
.a-productDetailWrapper .a-priceContent .a-productDiscount img {
  width: 35px;
}
.a-productDetailWrapper .a-priceContent .a-qty {
  border: 3px solid #113F75;
  color: #113F75;
  border-radius: 8px;
  padding: 3px 10px;
  margin: 0 10px;
  background-color: #fff;
}
.a-productDetailWrapper .a-priceContent .a-quantity p {
  padding-right: 10px;
  margin-top: 10px;
}
.a-productDetailWrapper .a-priceContent .a-quantityButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: 30px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: #fff;
}
.a-productDetailWrapper .a-priceContent .a-addButton {
  width: 180px;
  text-align: center;
  background-color: #FAD249;
  color: #2B325C;
  border: 3px solid #113F75;
  border-radius: 8px;
  padding: 3px 20px;
  margin: 25px 0 35px 0;
  font-weight: 500;
}
.a-productDetailWrapper .a-priceContent .a-addButton img {
  width: 35px;
}/*# sourceMappingURL=ProductDescripton.css.map */