main {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    letter-spacing: 2px
}

$main-blue: #2B325C;
$main-yellow: #FAD249;
$main-text: #5E5E5E;
$secondary-blue: #113F75;
$secondary-yellow: #FEF3DA;
$green: #53B2A8;
$red: #ED4743;
$text-shadow: #E4E4E4;
$base-line-eight: 10px;
$main-border: 3px solid #113F75;
$main-border-radius: 8px;

@function line($count:1) {
    @return $base-line-eight * $count;
}
%h1 {
    font-size: 48px;
}
%h2 {
    font-size: 36px;
}
%h3 {
    font-size: 20px;
    color: #2B325C;
    font-weight: 500;
}
%h4 {
    font-size: 18px;
}
%p{
    font-size: 16px;
}
%a-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.a-productRecommend {
    @extend %a-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $main-yellow;
    height: 250px;
    padding-bottom: 55px;
}
.a-productRecommend h3 {
    @extend %h3
}
.a-productRecommend  img {
    width: 30px;
}
.a-recommendText {
    display: flex;
    padding: 0 10px;
}
.a-recommendWrapper {
    @extend %a-flex;
    flex-wrap: wrap;
}
.a-recommendWrapper img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border: 3px solid #113F75;
    border-radius: 8px;
    margin: 20px 15px;
}