$main-yellow: #FAD249;
$main-Blue: #113F75;
$main-title: #2B325C;
$main-text: #5E5E5E;
$text-shadow: #E4E4E4;
$cate-btn:#FCE38C;
$main-orange:#F57D00;
$card-btn:#28ADA5;

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}

.r-container{

    .r-main-visual{
        display: flex;
        justify-content: space-between;

            .r-slide-bar{
                width: 25%;
                background: $main-yellow;
                padding-top: 80px;

                .r-search-wrap{
                    padding: 50px 30px 60px 60px;
    
                    .r-search-article{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // text-align: center;
                        border-bottom: 8px dashed #fff ;
                        padding-bottom: 25px;
    
                        .r-shop-icon{
                            width: 80px;
                            img{
                                width: 100%;
                            }
                        }
                        .r-shop-title{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            text-align: center;
                            letter-spacing: .2rem;
                            span{
                                color: #fff;
                                font-size: 24px;
                                font-weight:700;
                                padding-bottom: 10px;
                                
                            }
                            p{
                                color: #fff;
                                font-size: 36px;
                                font-weight:700;
                            }
                        }
                    }
    
                    .r-place-wrap{
                        text-align: center;
                        padding-top: 30px;

                        .r-place-article{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding-bottom: 20px;
                            .r-shop-icon-p{
                                width: 60px;
                                img{
                                    width: 100%;
                                }
                            }
                            .r-place-title{
                                padding-bottom: 10px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                letter-spacing: .2rem;
                                span{
                                    color: $main-title;
                                    font-size: 18px;
                                    font-weight: 700;
                                    padding-bottom: 10px;
                                }
                                p{
                                    color: $main-title;
                                    font-size: 28px;
                                    font-weight: 700;
                                }
                            }
                        }
                        
                        .r-place-select{
                            display: flex;
                            flex-direction: column;
                            // align-items: center;
                            select{
                                font-size: 18px;
                                text-align: center;
                                color: $main-text;
                                width: 180px;
                                height: 50px;
                                border: none;
                                border-radius: 8px;
                                margin: 0;
                                margin-bottom: 20px;
                            }
                        }
                    }
    
                    .r-cate-wrap{
                        text-align: center;
                        padding-top: 20px;
                        .r-cate-article{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding-bottom: 20px;
                            .r-shop-icon-c{
                                width: 60px;
                                img{
                                    width: 100%;
                                }
                            }
                            .r-cate-title{
                                padding-bottom: 10px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                letter-spacing: .2rem;
                                span{
                                    color: $main-title;
                                    font-size: 18px;
                                    font-weight: 700;
                                    padding-bottom: 10px;
                                }
                                p{
                                    color: $main-title;
                                    font-size: 28px;
                                    font-weight: 700;
                                }
                            }
                        }
                        .r-cate-select{
                            select{
                                font-size: 18px;
                                text-align: center;
                                color: $main-text;
                                width: 180px;
                                height: 50px;
                                border: none;
                                border-radius: 8px;
                                margin: 0;
                                margin-bottom: 20px;
                            }
                            
                        }

                    }

                    .r-filter-wrap{
                        text-align: center;
                        padding-top: 20px;
                        .r-filter-article{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding-bottom: 20px;
                            .r-shop-icon-f{
                                width: 60px;
                                img{
                                    width: 100%;
                                }
                            }
                            .r-filter-title{
                                padding-bottom: 10px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                letter-spacing: .2rem;
                                span{
                                    color: $main-title;
                                    font-size: 18px;
                                    font-weight: 700;
                                    padding-bottom: 10px;
                                }
                                p{
                                    color: $main-title;
                                    font-size: 28px;
                                    font-weight: 700;
                                }
                            }
                        }
                        .r-filter-select{
                            padding-bottom: 30px;
                            select{
                                font-size: 18px;
                                text-align: center;
                                color: $main-text;
                                width: 180px;
                                height: 50px;
                                border: none;
                                border-radius: 8px;
                                margin: 0;
                                margin-bottom: 20px;
                            }
                        }
                    }

                    .r-btn-wrap{
                        
                        .r-search-btn{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding-bottom: 20px;
                            button{
                                position: relative;
                                width: 255px;
                                height: 50px;
                                background: $main-orange;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: #333;
                                letter-spacing: 0.2rem;
                                font-weight: 700;
                                border: 3px solid #333;
                                border-radius: 8px;
                                overflow: hidden;
                                    span{
                                        font-size: 24px;
                                        display: inline-block;
                                        z-index: 2;
                                        transition:0.5s ease-in-out;
                                    }
                                    i{
                                        font-size: 30px;
                                        padding-right: 10px;
                                        display: inline-block;
                                        z-index: 2;
                                        animation: animateB 1s  linear infinite;
    
                                        @keyframes animateB{
                                            0%{
                                                opacity: 0;
                                            }
                                            25%{
                                                opacity: 1;
                                            }
                                            50%{
                                                opacity: 1;
                                            }
                                            75%{
                                                opacity: 1;
                                            }
                                            100%{
                                                opacity: 0;
                                            }
                                        }
                                    } 
                            }
                            button::before{
                                content:'';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: $card-btn;
                                transform: scaleX(0);
                                transition:transform 0.5s ease-in-out;
                                transform-origin: right;
                                
                            }
                            button:hover::before{
                                transform: scaleX(1);
                                transform-origin: left;
                            }
                            button:hover{
                                
                                span{
                                    color: #fff;
                                }
                                i{
                                    color: #fff;
                                }
                                
                            }
                        }
                    }
                    
    
                }
            }
    
            .r-wave{
                width: 15%;
                background: url('../../public/03-shop-img/wave-1920px.png')  0 0 ;
                left: 0;
                top: 0;
                size: 100% 100%;
                animation: animateWave 10s linear infinite;
                z-index: 100;
                animation-delay: 0.3s;
            
                @keyframes animateWave {
                    0% {
                        background-position-y: 0px;
                    }
        
                    100% {
                        background-position-y: 1920px;
                    }
                    }
                }
        
            .r-shop-list{
                width: 60%;
                padding: 80px 60px 0 0 ;

                .r-banner-wrap{
                    // padding: 30px 0 0 0;
                    margin-top: 30px;
                    background-color: $main-Blue;
                    position: relative;
                    
                    .r-banner-article{
                        padding: 15px 20px;
                        display: flex;
                        .r-banner-icon{
                            height: 100px;
                            img{
                                height:100%;
                            }
                        }
                        .r-banner-title{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            text-align: center;
                            letter-spacing: .2rem;
                            small{
                                color: #fff;
                                font-size: 24px;
                                font-weight: 700;
                            }
                            p{
                                color: #fff;
                                font-size: 36px;
                                font-weight: 700;
                                padding-top: 10px;
                            }
                        }
                    }

                    .r-banner-button-wrap{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        .r-banner-button{
                            display: flex;
                            justify-content: end;
                            background-color: #fff;
                            border-radius: 8px 0 0 0 ;
                            padding: 10px 10px 0 10px;
                            .r-btn-list-map{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                width: 150px;
                                height: 50px;
                                text-align: right;
                                background-color: #fff;
                                border: 3px solid #333;
                                border-radius: 15px;
                                padding-right: 5px;
                                margin-left: 10px;
                                a{
                                    text-decoration: none;
                                    color: $main-Blue;
                                    span{
                                        letter-spacing: 0.2rem;
                                        font-size: 18px;
                                        font-weight: 700;
                                        padding-left: 8px;
                                    }
                                    i{
                                        font-size: 20px;
                                    }

                                }
                            }
                        }
                    }
                    
                }
                .r-banner-wrap::after{
                    width: 100%;
                    content: '';
                    display: block;
                    height: 8px;
                    background-color: $main-Blue;
                    position: absolute;
                    bottom: -20px;
                }
                .r-shop-map{
                    height: 500px;
                    border: 1px solid #000;
                    margin-top: 50px;
                    overflow: hidden;
                }
                .r-m-card-wrap{
                    display: flex;
                    overflow-x: scroll;
                    padding-top: 30px;
                    .r-m-col{
                        width: 33.333333%;
                        padding-right: 5px;
                        flex-shrink: 0;
                        .r-m-card-container{
                            border: 3px solid #333;
                            display: flex;
                            .r-m-card-img{
                                padding: 10px;
                                text-align: center;
                                .r-m-card-img-wrap{
                                    width: 100px;
                                    height: 100px;
                                    overflow: hidden;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }

                                p{
                                    font-size: 16px;
                                    letter-spacing: .2rem;
                                    color: #fff;
                                    background-color: #000;
                                    line-height: 20px;
                                }
                            }
                            
                            .r-m-card-body{
                                width: 70%;
                                padding: 10px;
                                // height: 250px;
                                // display: flex;
                                h2{
                                    font-size: 20px;
                                    font-weight: 700;
                                    color: $main-title;
                                    padding-bottom: 10px;
                                    letter-spacing: .2rem;
                                }
                                p{
                                    font-size: 16px;
                                    padding-bottom: 5px;
                                    color: $main-text;
                                    letter-spacing: .2rem;
                                }
                                .r-m-card-week-btn{
                                    padding-bottom: 10px;

                                    small{
                                        font-size: 12px;
                                        padding: 3px;
                                        color: $main-text;
                                        text-align:center;
                                        background-color: $main-yellow;
                                        border: 1px solid $main-text;
                                        border-radius: 50%;
                                        margin-right: 5px;
                                    }
                                }
                                .r-m-card-button{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    padding-top: 5px;
                                    a{
                                        position: relative;
                                        width: 100%;
                                        height: 40px;
                                        background: $main-orange;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: #333;
                                        gap: 10px;
                                        text-decoration: none;
                                        letter-spacing: 0.2rem;
                                    
                                        font-weight: 700;
                                        border: 3px solid #333;
                                        border-radius: 8px;
                                        overflow: hidden;

                                        span{
                                            font-size: 18px;
                                            display: inline-block;
                                            z-index: 2;
                                            transition:0.5s ease-in-out;
                                        }
                                        i{
                                            font-size: 28px;
                                            display: inline-block;
                                            z-index: 2;
                                            animation: animateBtn 1s  linear infinite;

                                            @keyframes animateBtn{
                                                0%{
                                                    opacity: 0;
                                                }
                                                25%{
                                                    opacity: 1;
                                                }
                                                50%{
                                                    opacity: 1;
                                                }
                                                75%{
                                                    opacity: 1;
                                                }
                                                100%{
                                                    opacity: 0;
                                                }
                                            }
                                        }

                                    }
                                    a::before{
                                        content:'';
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        background: $card-btn;
                                        transform: scaleX(0);
                                        transition:transform 0.5s ease-in-out;
                                        transform-origin: right;
                                    }
                                    a:hover::before{
                                        transform: scaleX(1);
                                        transform-origin: left;
                                    }
                                    a:hover{
                                        
                                        span{
                                            color: #fff;
                                        }
                                        i{
                                            color: #fff;
                                        }
                                        
                                    }
                                }
                            }
                        }
                        .r-m-card-container:hover{
                            background-color: $main-Blue;
                            box-shadow:10px 10px 5px gray;

                            h2{
                                color: #fff;
                                text-shadow: none;
                            }
                            p{
                                color: #fff;
                            }
                        }
                    }
                }
                .r-card-wrap{
                    padding-top: 60px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .r-col{
                        width: 33.333333%;
                        padding: 20px;
                        .r-card-container{
                            //height: 100%;
                            border: 3px solid #333;
                            display: flex;
                            flex-direction: column;
                            transition: 1s;
                            .r-card-img-wrap{
                                display: flex;
                                height: 10%;
                                padding: 3px;
                                border-bottom: 3px solid #333;
                                aspect-ratio: 16/9;
                                overflow: hidden;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    object-position: 0% 50%;
                                }
                                span{
                                    font-size: 20px;
                                    width: 10%;
                                    color: #fff;
                                    background-color: #000;
                                    text-align: center;
                                    writing-mode:vertical-lr;
                                    letter-spacing: .8rem;
                                }
                                
                            }
                            .r-card-body{
                                padding: 10px;
                                height: 250px;
                                display: flex;
                                flex-direction: column;
                                justify-content:space-around;

                                h2{
                                    font-size: 24px;
                                    font-weight: 700;
                                    color: $main-title;
                                    padding-bottom: 5px;
                                    text-shadow: none;
                                    letter-spacing: .2rem;
                                }
                                p{
                                    font-size: 18px;
                                    color: $main-text;
                                    letter-spacing: .2rem;
                                }
                                .r-card-week-btn{
                                    padding-bottom: 10px;

                                    small{
                                        font-size: 14px;
                                        padding: 3px;
                                        color: $main-text;
                                        text-align:center;
                                        background-color: $main-yellow;
                                        border: 1px solid $main-text;
                                        border-radius: 50%;
                                        margin-right: 5px;
                                    }
                                }
                                .r-card-button{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    padding-top: 5px;
                                    a{
                                        position: relative;
                                        width: 100%;
                                        height: 40px;
                                        background: $main-orange;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: #333;
                                        gap: 10px;
                                        text-decoration: none;
                                        letter-spacing: 0.2rem;
                                    
                                        font-weight: 700;
                                        border: 3px solid #333;
                                        border-radius: 8px;
                                        overflow: hidden;

                                        span{
                                            font-size: 18px;
                                            display: inline-block;
                                            z-index: 2;
                                            transition:0.5s ease-in-out;
                                        }
                                        i{
                                            font-size: 28px;
                                            display: inline-block;
                                            z-index: 2;
                                            animation: animateBtn 1s  linear infinite;

                                            @keyframes animateBtn{
                                                0%{
                                                    opacity: 0;
                                                }
                                                25%{
                                                    opacity: 1;
                                                }
                                                50%{
                                                    opacity: 1;
                                                }
                                                75%{
                                                    opacity: 1;
                                                }
                                                100%{
                                                    opacity: 0;
                                                }
                                            }
                                        }

                                    }
                                    a::before{
                                        content:'';
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        background: $card-btn;
                                        transform: scaleX(0);
                                        transition:transform 0.5s ease-in-out;
                                        transform-origin: right;
                                    }
                                    a:hover::before{
                                        transform: scaleX(1);
                                        transform-origin: left;
                                    }
                                    a:hover{
                                        
                                        span{
                                            color: #fff;
                                        }
                                        i{
                                            color: #fff;
                                        }
                                        
                                    }
                                }
                            }
                        }
                        .r-card-container:hover{
                            background-color: $main-Blue;
                            box-shadow:10px 10px 5px gray;

                            h2{
                                color: #fff;
                                text-shadow: none;
                            }
                            p{
                                color: #fff;
                            }
                        }
                    }
                }
            }
    }

}


